[2020-10-11 12:26] enkore commented on #4875
- MIPS CPUs seem to be increasingly rare even in their niche (low-cost networking equipment)
- I think the only somewhat notable target that's BE these days would be s390x, everything else is LE (mips(64)el, ppc64el)
- (32 Bit BE) powerpc has been removed from Debian a couple releases ago

[2020-10-11 12:33] ThomasWaldmann commented on #5408
Do you see a difference if you add `--consider-part-files`?

[2020-10-11 12:34] ThomasWaldmann commented on #5408
BTW, I remember doing some fixes for stats stuff like this. IIRC, some were too big for 1.1.x and just went into master. Not sure if this issue was also fixed, though.

[2020-10-11 12:40] ThomasWaldmann commented on #5407
Got a reply from BS support, but still not working.

[2020-10-11 13:16] #5398 closed

[2020-10-11 13:38] ThomasWaldmann commented on #5386
I also tried to reproduce with a current firefox (80/81), it worked for me.

[2020-10-11 13:38] #5386 closed

[2020-10-11 13:40] ThomasWaldmann commented on #5372
fixed by #5373 and #5389.

[2020-10-11 13:40] #5372 closed

[2020-10-11 15:01] ThomasWaldmann commented on #5331
Any news?

[2020-10-11 15:09] ThomasWaldmann commented on #5297
@birkenfeld can you put a redirect there?

as this is generated by the readthedocs code, guess it is a widespread issue.

[2020-10-11 15:15] ThomasWaldmann commented on #5295
TODO: check if `borg create --numeric-ids ...` does uid/gid -> name lookups.

[2020-10-11 15:23] ThomasWaldmann commented on #5277
Looks like it works again.

[2020-10-11 15:23] #5277 closed

[2020-10-11 15:28] ThomasWaldmann commented on #5220
Looks like there is no interest in this.

Also, 1.1-maint meanwhile has even dropped the jessie build boxes due to age (using stretch now), thus there is no point in thinking about resurrecting the wheezy boxes, which are even older.

I'll close this, will collect the bounty money and put it on a new bounty.

[2020-10-11 15:28] #5220 closed

[2020-10-11 15:31] sshaikh commented on #5408
Unfortunately `--consider-part-files` makes no difference to the summary.

What I thought was the relevant fix appears in the changelog for 1.1.9 (info: consider part files for "This archive" stats, #3522).

What about deleted files - would they appear in the count for Original size?

[2020-10-11 15:38] ThomasWaldmann commented on #5125
done.

[2020-10-11 15:38] #5125 closed

[2020-10-11 15:41] ThomasWaldmann commented on #4963
master branch and 1.1-maint branch will now use latest pyinstaller.

[2020-10-11 15:41] #4963 closed

[2020-10-11 15:46] ThomasWaldmann commented on #4876
any feedback?

btw, there was a recent docs addition that explains better how -x works and the issues related to that (esp. btrfs).

[2020-10-11 15:46] ThomasWaldmann commented on #4908
ping.

[2020-10-11 15:56] ThomasWaldmann commented on #4836
Pretty sure this is a hw issue, closing.

[2020-10-11 15:56] #4836 closed

[2020-10-11 15:59] ThomasWaldmann commented on #4768
Not seen this any more recently, closing.

[2020-10-11 15:59] #4768 closed

[2020-10-11 16:04] ThomasWaldmann commented on #4765
Is there anything left to do here?

[2020-10-11 16:05] horazont commented on #4908
@ThomasWaldmann Oh wow, this scrolled out of my inbox *far*. Thanks for pinging me.

So this was a VM. The storage was fed directly to Qemu via iscsi. We do not know the exact cause, but we observed *very* strange things going on, in the order of magnitude of RAM content(!) appearing in the file cache(!!) of the guest system(!!!) (Ever gotten Permission denied when SSH-ing into a system, only to f

[2020-10-11 16:09] ThomasWaldmann commented on #4908
Thanks for updating!

Adding such information is still useful, as people can find it when searching all issues filed here.

So I'm closing this as it was likely caused by an issue below borg.

[2020-10-11 16:09] #4908 closed

[2020-10-11 16:21] enkore commented on #5408
How many files are in this archive?

[2020-10-11 16:59] ThomasWaldmann commented on #5408
Issue #3522 (fix for "this archive") was fixed only in master branch by #4286 .

Issue #4329 (about "all archives") was fixed only in master branch by #4515 .

master branch will get released at some point in the future as borg 1.2.

[2020-10-11 17:30] hashbackup commented on #5408
du counts allocated disk space, for example, it says a 4-byte file uses 4K bytes:
[code]
In contrast, most backup programs add up the file sizes shown by ls, from the stat() syscall.  If you are backing up a large number of small files, this extra padding to the next 4K boundary will make du usage much higher, but it also reflects the reality of 4K allocations.  So you are comparing a disk-block-p

[2020-10-11 17:52] sshaikh commented on #5408
@enkore 219284 files

@hashbackup but then shouldn't the borg backup report a /smaller/ size?

@ThomasWaldmann does that mean the changelog for 1.1.9 is incorrect? If so we can close this issue.

[2020-10-11 18:05] ThomasWaldmann commented on #5408
could be a sparse file, look at this:
[code]

[2020-10-11 18:10] ThomasWaldmann commented on #5408
[code]

[2020-10-11 18:18] ThomasWaldmann commented on #5408
@sshaikh see above. changelog is correct, see also my updated comment above.

[2020-10-11 18:23] ThomasWaldmann commented on #5408
@sshaikh sparse files can be anywhere where bigger runs of zeros are efficiently written to a file. Often seen with (VM) disk images.

[2020-10-11 18:25] hashbackup commented on #5408
@sshaikh I think it depends on your actual file sizes, how compressible they are, and how much metadata is stored.  For example, if you have 1M files containing 4K uncompressible data each, du will report 4GB but borg will report a higher number if metadata is included.

If you are backing up larger files, the padding factor in du will be less important because it is limited to 4k per file, or 2K

[2020-10-11 18:40] ThomasWaldmann commented on #4360
https://github.com/borgbackup/borg/releases/tag/1.2.0a9 please help testing.

[2020-10-11 19:42] enkore commented on #5408
IIRC borg creates something like 150-200 bytes of metadata per "small file" (including the full path - long paths need more space), so for just 200k files that overhead would not explain a difference this large. I think Thomas is right here, there's probably a sparse file around.

du(1) can consider either. By default it is in "disk blocks mode", but it has an --apparent-size switch (which is trig

[2020-10-11 19:57] sshaikh commented on #5408
I tried the approach here:

https://www.thegeekdiary.com/how-to-find-all-the-sparse-file-in-linux/

and found no sparse files in the directories being backed up.

`--apparent-size` with du actually reduces the total (probably because of the 4k blocks behaviour mentioned earlier).

It's curious. I may try a new backup just to see what happens.

[2020-10-12 04:47] m3nu commented on #4360
Latest alpha also available on [BorgBase.com](https://www.borgbase.com) for testing as of now. Select `1.2.x` under *Advanced > BorgBackup Version*.
<img src="https://user-images.githubusercontent.com/3916435/95706203-cbd8ca00-0c88-11eb-909a-bef058b1316f.jpg" width="400" />

[2020-10-12 08:06] LocutusOfBorg commented on #5114
We can close this issue! sorry for the delay!

[2020-10-12 08:29] LocutusOfBorg commented on #5114
we now use bundled msgpack

[2020-10-12 08:30] LocutusOfBorg commented on #5178
my ppa is up to date!

[2020-10-12 08:31] LocutusOfBorg commented on #5131
thanks for opening, unfortunately I never had a clue on this...

[2020-10-12 08:33] LocutusOfBorg commented on #5039
This works on clean bionic

[code]

[2020-10-12 08:33] LocutusOfBorg commented on #5037
yep, fixed and updated!

[2020-10-12 08:34] LocutusOfBorg commented on #4959
Now bundled msgpack is used, no more issue, we can close this one

[2020-10-12 08:34] LocutusOfBorg commented on #5202
1.1.12 available in Debian and Ubuntu

[2020-10-12 09:17] LocutusOfBorg commented on #5064
yes @semente , it has been released on the ppa.

[2020-10-12 10:38] #4959 closed

[2020-10-12 10:39] #5114 closed

[2020-10-12 10:52] ThomasWaldmann commented on #5408
You could also use `borg list --format=... repo::archive` to create a file list of that archive, including individual file sizes.

Then use some script or spreadsheet program to sum up the sizes and compare to original size for "this archive".

[2020-10-12 12:28] eike-fokken opened #5410 "Security of ssh forced commands"
## Have you checked borgbackup docs, FAQ, and open Github issues?

Yes

## Is this a BUG / ISSUE report or a QUESTION?

Question

## System information. For client/server mode post info for both machines.

#### Your borg version (borg -V).

#### Operating system (distribution) and version.

Debian testing

## The Question

Various threads here lament the absence of a pull-style backup in borg beca

[2020-10-12 14:51] LocutusOfBorg commented on #4765
No, I'll try to SRU borgbackup soon

[2020-10-12 14:51] LocutusOfBorg commented on #5400
thanks again!

[2020-10-12 15:41] sshaikh commented on #5408
That was a useful tip, thanks!

After an afternoon of analysis I can confirm that `borg list` outputs *exactly* the same sizes as `find /dir -type f -printf '"%p" %s\n'` does and so the sum of bytes also agree.

It turns out that, embarrassingly, this is the age old gibi vs giga issue. Sticking to bytes, my total is 2.04361E+11. According to google this equates to 204 gigabytes and... 190 gibibyte

[2020-10-12 15:41] #5408 closed

[2020-10-12 19:00] ThomasWaldmann commented on #5408
Hehe, sometimes it is easier as one thinks. :-)

[2020-10-12 19:05] ThomasWaldmann commented on #4765
@No15pecial did the more recent borg version fix the malloc issue?

[2020-10-12 19:10] ThomasWaldmann commented on #5410
There are 2 aspects:
- forced command for a specific key means the client can't issue any other command than that (e.g. another command than `borg` or `borg` with other options). So it is enforcing command and some options.
- `append-only` mode - if this is enforced server side, a client can not modify/remove any past repo state.

Relying on ssh for security measures should be quite OK as this is

[2020-10-12 19:12] ThomasWaldmann commented on #5410
BTW, some pull style methods are meanwhile documented.

[2020-10-12 19:34] No15pecial commented on #4765
Its been so long , I can't really remember but I think my swap space was too small and that was causing the issue

`OK So I built a new Ubuntu box (Ubuntu 16.04.6 LTS) Dell Optiplex 755 4 GB memory. Gave it 20GB of swap. Moved my scripts and started the backup - We'll see if it was a SWAP Space issue. Borg version is 1.0.12 (even lower that the Ubuntu 18 box which was Borg 1.1.5).`

[2020-10-12 19:48] ThomasWaldmann commented on #4765
Ah, ok. But maybe rather use real RAM. Too much paging activity will make things slow.

[2020-10-12 19:48] #4765 closed

[2020-10-12 20:11] srkunze opened #5413 "Use-case: Backup&Restore two different"
### Situation
Hi, there. I plan to use borg as my backup solution but I came across an issue I couldn't find a solution to in the FAQ or somewhere else in the documentation. So, maybe you could just point me at that. Here's the case:

A) I got a decently sized backup medium (1TB) full of data (the borg repo).
B) From time to time, I recover data from borg when re-installing and setting up the PC (

[2020-10-12 20:35] ThomasWaldmann commented on #5413
you can only back up what's actually there in the filesystem. you can not modify a backup archive after it was created. no merging.

so I suggest you have multiple archives within 1 or multiple repos, according to the granularity you'ld like to fully extract and fully back up again.

maybe you can also use `borg mount` for some purposes.

[2020-10-12 21:09] srkunze commented on #5413
I feared so. It's a little bit cumbersome to manually split (potentially 100) things up according to unknown needs in the future.

[2020-10-12 21:13] srkunze commented on #5413
I was thinking of some workaround like following:

- the borg backup (1TB) is now on a 4TB drive
- export everything to a tmp location on that 4TB drive
- merge everything from the active machine by using rsync to that tmp location
- snapshot that tmp location

BUT that sounds like it will take a lot of time. :-(

[2020-10-12 21:55] eike-fokken commented on #5410
concerning the first aspect, I think this is not different from pull style backups, as in that case no command whatsoever can be done from the client regarding the backup.
For the second aspect I sympathize with a lot of commenters that append-only mode is difficult to use in practice because I usually want to prune my backups from time to time. But I admit that it may be useful for people having

[2020-10-12 22:51] ThomasWaldmann commented on #5410
Yeah, it is difficult to know what you can safely delete (== NOT need later).

But there is nothing borg or any other tool can do about that.

Hmm? At least the latest doc additions invokes a borg on the client-side from the server, so that should work as normal.

[2020-10-12 22:54] ThomasWaldmann commented on #5413
Well, tear it down to reasonable pieces (not "everything") and have a corresponding archivename for each and it'll need less time.

[2020-10-13 09:31] ThomasWaldmann opened #5414 "1.1.15b1 testing"
I made a new release 1.1.15b1 for testing, see there:

https://github.com/borgbackup/borg/releases/tag/1.1.15b1

As you see, the borg code is pretty much the same as in 1.1.14, but especially the binary building got some updates. Thus, primarily the binaries should get some testing, to find issues before I make the final 1.1.15 release later this year.

As they were made on debian stretch with lib

[2020-10-13 09:36] eike-fokken commented on #5410
Oh, I see now. I only read about the sshfs-way.
Thanks for clearing that up!

[2020-10-13 09:36] #5410 closed

[2020-10-13 09:54] ThomasWaldmann commented on #5414
There is #5402 about performance, please give performance feedback there.

[2020-10-13 10:38] srkunze commented on #5413
You said that already and I said already it's too inflexible and time-consuming -- what happens if the "reasoning" was wrong, and the "partitioning" needs to change -- and so on and so forth.

Without some sort of `--base-archive` switch for the `create` command or an alternative solution, that's not gonna fly.

[2020-10-13 10:38] srkunze commented on #5413
Would you accept some sort of pull request here?

[2020-10-13 14:57] ThomasWaldmann commented on #5413
First have a good plan in a feature request, then we'll see.

[2020-10-13 15:17] EthraZa opened #5415 "stats gives a stoping error"
`borg create: error: argument -n/--dry-run: not allowed with argument -s/--stats`

It could be a warning, but an error is a bit of overreact, I guess.

[2020-10-13 15:17] ThomasWaldmann commented on #4948
I disabled that check inside borg and now get that when trying to mount over a directory without write permissions:
[code]

That comes from `llfuse.init` which is not part of borg. Additionally, it is unmaintained, so discussing this issue there might not be possible. One could check if `pyfuse3` behaves the same, that successory library is maintained.

[2020-10-13 15:20] ThomasWaldmann commented on #4948
Closing this, can't do anything about it in borg.

[2020-10-13 15:22] ThomasWaldmann commented on #5407
Note: check #4948 - does it behave the same with `pyfuse3` and can we find out **why**?

[2020-10-13 15:25] ThomasWaldmann commented on #5415
borg version?

[2020-10-13 15:26] ThomasWaldmann commented on #5415
This is from current 1.1-maint code:
[code]

[2020-10-13 15:33] ThomasWaldmann commented on #5220
Bounty money collected and put back on this issue:

https://www.bountysource.com/issues/93368903-implement-borg-mount-with-pyfuse3

[2020-10-13 15:35] ThomasWaldmann commented on #5407
could transfer 50 USD from another (not wanted any more) bounty via my personal account, but still can't access organization funds.

anybody interested in this can help by increasing the bounty.

[2020-10-13 15:46] #5360 closed

[2020-10-13 15:47] #5331 closed

[2020-10-13 15:48] ThomasWaldmann commented on #5297
I am closing this here, it is not a borg issue and outside of our control.

[2020-10-13 15:52] ThomasWaldmann commented on #5333
One metadata related option `--stdin-name` already exists.

`--stdin-mode`, `--stdin-user` and `--stdin-group` could be added (PRs welcome).

Not sure if it is worth the overhead in the code, help and docs though, considering that a workaround (see previous comment) exists.

[2020-10-13 15:54] srkunze opened #5416 "[Feature Request] Add `--base-archive` to command `create`."
Add `--base-archive` to command `create`.

## Why?

Allow incremental updates of existing repositories. Use case: #5413

borg repos behave like git repos which is a good thing. Unlike git, however, checking out "all the stuff" of a borg repository might sometimes be impossible due to space restrictions (and can take forever). Therefore, updating an existing borg repository by either partitioning t

[2020-10-13 15:54] ThomasWaldmann commented on #5308
If the case-insensitive regex worked and it not documented yet, a PR against the docs would be welcome as this is a common usecase when dealing with files created on DOS/Windows (and maybe macOS, too).

[2020-10-13 15:56] ThomasWaldmann commented on #5308
Not sure I understand your slashes question. You only would need to deal specially with `backslashes`, but as there usually are none as borg uses forward slashes for pathes, this is a non-issue.

[2020-10-13 16:15] EthraZa commented on #5415
Yep, it's the latest 1.1.14

[2020-10-13 16:16] ThomasWaldmann commented on #5216
@Gu1nness I had a look at the code you pointed to and there are quite some places where borg does:

"if not path exists: makedirs + chmod"

Guess this could be refactored into a function call like:
[code]

That would:
- make sure the directory exists, in a race-condition free way (thus: **not** using os.path.exists + os.makedirs)
- if mode is not None, do a chmod to that mode
- if reraise is True,

[2020-10-13 16:19] ThomasWaldmann commented on #5415
Huh, that is strange. Do we deal at different places in borg code with that stuff?

The current 1.1-maint code is not very different from 1.1.14 release code...

[2020-10-13 16:25] ThomasWaldmann commented on #5130
@daniel-dona still working on this? if not, please tell, then i'll remove the comments.

[2020-10-13 16:35] ThomasWaldmann commented on #4982
fixed by #5135.

[2020-10-13 16:35] #4982 closed

[2020-10-13 16:37] ThomasWaldmann commented on #4971
https://travis-ci.org/github/borgbackup/borg/builds/693447950

this worked (except the usual travis failure on macOS, which has other reasons).

[2020-10-13 16:44] ThomasWaldmann commented on #5055
see that comment and the next comment after that one:

https://github.com/borgbackup/borg/issues/5408#issuecomment-706743648

Besides showing the impact of a sparse file, it also shows how borg deals with part files (and `--consider-part-files`) and how that impacts "this archive" and "all archives" size. It also shows what's correct, what not and when the issues were fixed.

[2020-10-13 16:44] #5055 closed

[2020-10-13 16:49] ThomasWaldmann commented on #5077
If somebody got this working, it maybe would be a good idea to change our `Vagrantfile` to do that

[2020-10-13 16:50] #5075 closed

[2020-10-13 16:53] #4926 closed

[2020-10-13 16:56] ThomasWaldmann commented on #5040
How much time the first phase of prune (multi-delete) takes likely depends on machine speed, archive size, chunk size and how many archives prune will delete.

The second phase (in 1.1.x) is compact_segments and way more I/O intensive on the repo side.

[2020-10-13 16:57] EthraZa commented on #5415
borg init --encryption none

borg create --list --filter AME --stats --show-rc --compression zstd --exclude-caches --nobsdflags --exclude-from /backup/exclude.txt --dry-run /backup/repo::'{hostname}-{now}' /folder1 /folder2

[code]

[2020-10-13 16:58] ThomasWaldmann commented on #4881
Guess this can be closed.

[2020-10-13 16:58] #4881 closed

[2020-10-13 17:09] ThomasWaldmann commented on #4852
Without more information, guess we can't do anything here.

Borg needs quite some memory (depending on amount of data), that is expected.

[2020-10-13 17:09] #4852 closed

[2020-10-13 17:12] ThomasWaldmann commented on #4841
`borg mount -o versions` might be even better when interested in historical versions of same file(s).

You can limit the scope of borg mount using paths, --last, --first and other options, then it'll be a bit faster and less resource consuming.

[2020-10-13 17:17] #4809 closed

[2020-10-13 17:19] #4808 closed

[2020-10-13 17:21] ThomasWaldmann commented on #4795
Is there any update on this?

[2020-10-13 17:26] ThomasWaldmann commented on #4777
Hmm, was this maybe related to the repo index corruption issue we fixed in 1.1.11 (see close to the top of the changelog for an advisory about that).

[2020-10-13 17:28] ThomasWaldmann commented on #4777
but: `borg check [--repair]` should not crash, check if we can do anything about that.

[2020-10-13 17:52] srkunze commented on #5416
Done.

[2020-10-13 18:46] ThomasWaldmann opened #5417 "borg create --list: when to show a path/filename"
borg 1.1.x prints the path/filename after completing the back up of that file.

for rather big files, this might take rather long and the user only sees the previous filenames, not the filename of the big file.

thus, the user might think, borg is hanging / not doing anything. Example: https://github.com/borgbackup/borg/issues/4762#issuecomment-538785655

also, if some file-reading related error o

[2020-10-13 18:58] ThomasWaldmann commented on #5417
There is an issue with showing filename first:

We also show the status and while reading the file, the status might change to E)rror.

[2020-10-13 19:19] ThomasWaldmann commented on #5417
Idea: before borg decides to call `chunk_file` (which reads, chunks, hashes, ... the file's content) we could emit the latest status (usually A or M for regular files) plus filename and signal via status = None (usually the return value of the file item handler) that no additional output is wanted after completion (needs some other code changes, status None is currently treated as invalid state).

[2020-10-13 19:33] ThomasWaldmann commented on #5417
Does anybody see an issue with this slight behaviour change?

[2020-10-13 19:45] ThomasWaldmann commented on #5416
Looks like a differential backup (not a full backup like borg normally does).

As I said, leads to prune and manual handling issues.

Also, borg extract expects and empty target dir to start from, it does not (in all cases) support merging into an existing directory/file structure.

If stuff gets renamed (or deleted), there is additional complexity.

[2020-10-13 20:21] ThomasWaldmann commented on #5415
It's a bug, borg aborts when parsing args as they are defined in a mutually exclusive group.

Note: the --filter=AME does not give any output when used with --dry-run, because status will be `-`.

[2020-10-13 20:58] ThomasWaldmann commented on #4550
Guess we can't do anything here.

[2020-10-13 20:58] #4550 closed

[2020-10-13 21:00] ThomasWaldmann commented on #4566
AFAIK, BORG_PASSCOMMAND works, so might be some environment issue (not being in env, filtered from env, ...).

[2020-10-13 21:00] #4566 closed

[2020-10-13 21:05] ThomasWaldmann commented on #4591
fixed, see links above.

[2020-10-13 21:05] #4591 closed

[2020-10-13 21:24] #4225 closed

[2020-10-13 22:47] ThomasWaldmann opened #5419 "cygwin issue with bundled msgpack in borg 1.1.x"
current borg 1.1.x:

the usual developer setup with virtualenv, requirements.d/development.txt and finally `pip install -e .` does not work on cygwin.

it breaks when trying to compile the bundled msgpack due to not finding `pack.h`, which is in same directory as the file including it.

adding `.` to include path does not help either.

maybe somebody actually using borg on cygwin could debug / fix

[2020-10-14 05:17] fantasya-pbem commented on #5417
So the file with error will have double output (M somefile, E somefile)?

[2020-10-14 06:27] fallen opened #5420 "borg stuck during create on unix pipe open"
## Have you checked borgbackup docs, FAQ, and open Github issues?

Yes

## Is this a BUG / ISSUE report or a QUESTION?

BUG

## System information. For client/server mode post info for both machines.

#### Your borg version (borg -V).

borg 1.1.14

#### Operating system (distribution) and version.

Distributor ID:	Debian
Description:	Debian GNU/Linux 9.13 (stretch)
Release:	9.13
Codename:	stretch

[2020-10-14 09:05] fallen commented on #5420
Problem solved:

- I was using borgmatic
- I had the `mysql_databases` option to backup my data bases
- this option forced-enabled the `read-special` flag, because it's dumping the database to a UNIX named pipe, so that it can be read by borg and not take disk space during the backup
- I had a dandling named pipe for postgresql from an old try-and-error that I previously interrupted that was still

[2020-10-14 09:05] #5420 closed

[2020-10-14 11:23] ThomasWaldmann commented on #5417
Yes, in case of an error.

[2020-10-14 11:50] Jorgen-P commented on #5292
This seems to depend on the keyserver. I got the same problem with whatever the default server is but when I specified --keyserver hkps://keyserver.ubuntu.com it worked. I think the instructions should include a specification of keyserver (which you seem to have done when reproducing the problem @ThomasWaldmann).

[2020-10-14 11:51] fallen commented on #5420
I'll create another issue just for the timeout idea.

[2020-10-14 12:13] ThomasWaldmann commented on #5292
Well, usually the keyserver should sync between each other, AFAIK.

So I guess one can use any of them, except the broken ones (which may change over time, thus hard to recommend any one specifically). If the default one is broken, this should be filed as a bug against the gpg dist package I guess.

[2020-10-14 12:20] ThomasWaldmann opened #5421 "bountysource "borgbackup" organization account issue"
as this is going on for a while, i guess i'll document it here:

i am admin for the "borgbackup" team (organization) on bountysource, where donations come in from borgbackup users.

i used to be able to create bounties drawing funds from the borgbackup account, but currently this does not work any more.
for "payment options" i only get offered paypal or my personal account, but not the borgbackup

[2020-10-14 12:23] ThomasWaldmann commented on #5421
note: currently I also can't create bounties from my personal account, but that is likely because i requested a complete payout (due to decreasing trust in the platform) and thus the available balance on my personal account is 0.

[2020-10-14 12:24] fallen opened #5422 "Add a timeout on opening/reading from UNIX pipes when --read-special option is active"
## Have you checked borgbackup docs, FAQ, and open Github issues?

Yes

## Is this a BUG / ISSUE report or a QUESTION?

Question / Suggestion

## System information. For client/server mode post info for both machines.

This question is linked to my previous (closed) ticket: #5420

To prevent people from going down the same road/issue I did, it might be interesting to add a timeout mechanism for wh

[2020-10-14 12:28] ThomasWaldmann commented on #5421
@enkore you are also an admin for the "borgbackup" team on bountysource.

Can you try to increase that bounty, drawing USD 50 **from the borgbackup org account** (not: your personal funds)?
- "borgbackup" should be offered under "payment options", additionally to paypal and your personal account.
- "display as" should also be set to "borgbackup" when drawing funds from that account.

https://www.b

[2020-10-14 12:34] ThomasWaldmann commented on #5422
Maybe that needs to be configurable? I can imagine that the other process on the other end of the pipe (legitimately) takes some time before producing output borg can read.

[2020-10-14 12:41] fallen commented on #5422
Yes, indeed that's a good idea.

[2020-10-14 16:51] enkore commented on #5421
Works for me (order #123443, shown as borgbackup, backed by borgbackup)

[2020-10-14 17:02] enkore commented on #5421
Maybe a good time to think about diversifying or moving from BS. There has been quite a bit of motion in this space with Github Sponsors, Tidelift, kofi(?) and so on... something that's somewhat independent from specific issues would probably not hurt considering how much time you are continually investing into borg.

[2020-10-14 17:11] enkore commented on #5422
SIGALRM should work for this, setting it before the read, and resetting it immediately afterwards. Alternatively, non-blocking mode, which _does_ avoid blocking when opening an unestablished pipe, at least on Linux..

[2020-10-14 17:14] enkore commented on #5413
I'm probably misunderstanding something here, but it sounds like you'd just need a system archive and a homes archive. Individual users can be easily extracted individually from the homes archive when needed (`borg extract ... home/foobar`).

[2020-10-14 17:21] enkore commented on #5324
The serve protocol is pretty simply, as you noted, and also fairly stable. One potential drawback of adding repository drivers like this that came up way-back-then was that you probably end up with totally different or slightly different repository formats, so migrating a repository that uses driver A to a repo using driver B would need support from borg (a low-level, object-for-object copy, which

[2020-10-14 17:47] enkore commented on #5416
[code]

Archives are read front-to-back and are basically structured like a tar archive. If you swap those two loops, you get roughly what you want, but keep in mind that this will give you the union of all paths, so /foo/bar/baz in the base archive will be present in the created archive, even if /foo/bar is excluded or deleted.

[2020-10-14 18:36] srkunze commented on #5413
I think the problem is not extraction. It's fine and I really like the mount/extract commands.

The problem is the opposite operation: creating an archive based on an existing one and replacing the directories we care about this time.

Larger example - disk layout:

- /home/me/documents
- /home/me/documents
- /home/me/documents

[2020-10-14 19:28] Gu1nness commented on #5407
I'm taking this one !

[2020-10-14 19:38] srkunze commented on #5413
I think the problem is not extraction. It's fine and I really like the mount/extract commands.

The problem is the opposite operation: creating an archive based on an existing one and replacing the directories we care about this time.

Larger layout example. Key question is: how to create borg archive 2 at the end from the existing disk layout and existing borg archive 1?

[code]

[code]

[code]

[2020-10-14 19:51] enkore commented on #5413
I see. In that case my answer would be that borg backups files that are there, not files that aren't. From an operations point of view I'd see backups that contain state which didn't actually exist in the system like that as actively undesirable, and like you say the data is already in the backup. If you use a retention policy (borg prune), and do not intent to loose the old state at some point, i

[2020-10-14 20:23] ThomasWaldmann commented on #5407
@Gu1nness I started implementing it when I assigned the issue to myself. Maybe should have better left a comment also.

[2020-10-14 20:31] ThomasWaldmann commented on #5421
@enkore ok, so we know now it is not a fundamental problem with BS orgs, but rather that my personal account somehow got partly decoupled from org.

Other options: Right, guess in the end both models would be good: continuous support for frequently active maintainers, bounties for specific tickets to solve. I started with github sponsors some time ago, but didn't finish it when getting confused ab

[2020-10-14 21:35] enkore commented on #5421
If you want me to, we could try "turning it off and on again", i.e. removing your account from the org and adding/inviting it back. OTOH there might be a risk that BS doesn't allow the account to be invited/added due to itself being confused about the state.

[2020-10-14 22:28] ThomasWaldmann commented on #5421
@enkore Let's give their tech support a few days, then we'll try your idea (I'll come back to you when the time has come).

This might be a bug in their code or somewhere, if they find/fix it themselves, maybe that leads to a fix in their code, too.

[2020-10-15 09:05] Gu1nness commented on #5407
Ah I didn't see you assigned it to yourself!
For now I'm working on the imports and all the places where llfuse is used, but it took only ten minutes for me for what I did.
So I guess I'll leave it to you and will work on the next one :)

[2020-10-16 06:24] bardok opened #5423 "borg check on smbfs crashes with errno 22 invalid argument"
Hello,

Sorry for my english i'm french.

I have an error while i check my repository after the first create, i use Vorta gui.
This is my third repository on a NAS DNS-320 with alt-f, and it's the first time i want to use it.
I've got two other repository, one on my pc and one a smb share behind a raspberry with omv, no problem with them while one years.

Thanks for your help.
[code]

[2020-10-16 16:31] ThomasWaldmann commented on #5423
I suspect that this issue has its cause in smbfs.

The place where it is crashing is just a normal read command, so not sure what could be "invalid" there...

There are some other issues open/closed on this issue tracker with people having smbfs / cifs problems, maybe check if you can find some hints there.

[2020-10-16 21:58] tifDev opened #5424 "Is it reliable to use Borg for system backups (root directory)"
## Have you checked borgbackup docs, FAQ, and open Github issues?

Yes

## Is this a BUG / ISSUE report or a QUESTION?

QUESTION

# My question

Does Borg preserves:
- symbolic links, file permissions, user & group ownerships and timestamps
- ACLs
- extended attributes
?

In case the System is not properly working well (f.e. we remove a system folder from our root directory) or even in a case wher

[2020-10-16 22:44] ThomasWaldmann commented on #5424
Read the docs, please.

You can boot from any live system (e.g. from USB or CD), then download the fat binary from github releases and then do your restore. You can restore a subset, of course.

[2020-10-17 04:07] jim-collier commented on #5308
@ThomasWaldmann I don't know if the case-insensitivity is documented or not, but since it's standard regex, personally I don't think it would be a big oversight if it wasn't. (Nice, but not a big problem.) Personally, I was aware of the (?i) syntax, it just slipped my mind.

As for slashes, I'm aware that backslashes need to be escaped, but for some reason was unclear on forward slashes. Usually w

[2020-10-17 04:07] #5308 closed

[2020-10-17 09:01] Gu1nness commented on #5216
That's a good idea.
Using makedirs and catching exceptions should be atomic enough to avoid the if `if not path exists: makedirs`. I just need to list all possible possibilities and catch them accordingly (and find some energy during a burnout…)

[2020-10-17 10:44] jchhenderson commented on #690
Hi all,

So for an Intel based QNAP (TS-453Bmini), is the best method via Container Station or is there an up-to-date binary?

I did find the below, but it is v1.1.7
https://www.qnapclub.eu/en/qpkg/488

[2020-10-17 10:53] srkunze opened #5425 "[Feature Request] Add layers option/notation to `extract`, `mount` and `export-tar`"
## What?

Add layers option/notation to `extract`, `mount` and `export-tar`.

## Why?

Use case: #5413

Extracting a complete borg archive might sometimes be impossible due to space restrictions (and can take forever). Additionally, updating an existing borg archive by partitioning the repository manually (different archives for different source folders) can be a problem as well. These manually cr

[2020-10-17 11:58] ThomasWaldmann commented on #690
Give the maintainer a wakeup call, there were important fixes in 1.1.11 and also in 1.1.14.

[2020-10-17 12:09] ThomasWaldmann commented on #5425
I somehow get the feeling that this is getting way out of scope of what should be in borg (and also of what borg should be used for), adding quite a lot of complexity that is hard to implement and to maintain.

It looks like that this is not about creating a backup of original data, but about managing original data in a rather special way.

backup means that you make a copy from original data to s

[2020-10-17 12:57] Gu1nness opened #5426 "tox.ini is outdated compared to setup.py"
## Have you checked borgbackup docs, FAQ, and open Github issues?

Yes

## Is this a BUG / ISSUE report or a QUESTION?

ISSUE

## System information. For client/server mode post info for both machines.

#### Your borg version (borg -V).

master branch

## Problem :

The [setup file](https://github.com/borgbackup/borg/blob/master/setup.py#L297)
specifies that the python version should be >=3.6 but

[2020-10-17 13:01] jchhenderson commented on #690
Hi, thanks.  I'll do that, but it no longer loads since the latest QTS update as it hasn't got a valid signature.

[2020-10-17 13:04] Gu1nness commented on #5417
Wouldn't it be possible in this specific case to rewrite the line using \r?
This way, we avoid deduplication, and make it easier to check the number of back-upped files?

[2020-10-17 14:01] ThomasWaldmann commented on #5417
Hmm, not sure if that is possible, have to check how that output is generated.

[2020-10-17 14:29] ThomasWaldmann commented on #5426
Yeah, that should be fixed. Thanks for a PR.

[2020-10-17 15:30] noplanman commented on #690
@jchhenderson You may be able to simply overwrite the borg binary in the system, even if there is no "official" QNAP package.
I do the same on my Synology boxes.

[2020-10-17 16:04] srkunze commented on #5425
That's fine. I merely look out for solutions.

The borg documentation describes the duplication very much like I planned it to do. I don't see an issue here.

https://borgbackup.readthedocs.io/en/stable/faq.html#can-i-copy-or-synchronize-my-repo-to-another-location

That is just because, borg needs this complete archive to create another full archive of the data. That's not my choice; plain rsync

[2020-10-17 16:48] jchhenderson commented on #690
@noplanman nice.  What would the co and be to do that?

[2020-10-17 19:51] schors commented on #5333
Adding `--stdin-mode` is easy. The main problem is how and where to handle `--stdin-user` and `--stdin-group`. What if --stdin-user or --stdin-group are not matching certain records in the password database? Where is the best place to handle errors?

[2020-10-17 20:44] noplanman commented on #690
@jchhenderson Can you log in to your QNAP with SSH?
If yes, you can execute `uname -m` to find out what architecture your NAS has and then download the correct borg binary from the [releases page](https://github.com/borgbackup/borg/releases/) directly to your NAS (probably `borg-linux32`). Then you can make it executable and try to execute it to make sure that it works:
[code]
If the correct versi

[2020-10-17 21:29] #5274 closed

[2020-10-17 21:32] ThomasWaldmann commented on #5333
In that case I guess it is easiest to terminate with an error.

Try e.g. `raise Error("no such user: %s" % username)`.

[2020-10-17 22:03] srkunze commented on #5413
@ThomasWaldmann @enkore

I wrote a small helper wrapper https://github.com/srkunze/borg-layers

If you think it makes sense to have this kind of functionality in borg core, feel free to merge it or reach out to me.

[2020-10-18 09:03] Gu1nness commented on #5426
Here you are :)

[2020-10-18 09:22] jchhenderson commented on #690
Hi,

Please be patient with me.

I have SSH'd in and `uname` -m results with `x86_64` so I downloaded `borg-linux64`

[code]
resulted in `borg-linux64 1.1.14` - fantastic

`$ which borg` resulted in `/usr/bin/borg`
I went here but it was an alias that pointed to the real location - which is where I copied it.

Thanks for your help!

[2020-10-18 20:01] copart commented on #690
Howdy all... So, I have not tried updating borg in too long on my QNap. Unfortunately my qnap is end of life and does not support containers/dockers, which is definitely the best way.

[code]

python3-distutils is installed. Oddly I cannot even install older versions via pip anymore.

Any guess how to get around the bdist_egg issue?

[2020-10-18 20:22] noplanman commented on #690
@copart How about using the pre-built binaries from the [Releases](https://github.com/borgbackup/borg/releases/) page?

@jchhenderson Well done! 💪

[2020-10-18 20:23] copart commented on #690
the prebuild have never worked due to QNap having very old libraries

[code]

[2020-10-18 21:16] quicktrick commented on #690
Hi @copart !

Last time I installed borgbackup (1.1.10) on Qnap TS-459 Pro (on 2019-12-16), I did it the following way:

[code]

[code]

Then I tried to install borgbackup from the source

[code]

After that I tried another way:

[code]

[code]

I haven't updated it since then yet.

[2020-10-18 21:39] #5426 closed

[2020-10-19 01:25] copart commented on #690
hi @quicktrick. I think I would have to remove my customizations and restart fresh. Your awesome came up with same error. Thank you so much for responding.

Any chance you can share the compiled binary for 1.1.10? Maybe it will work.

[2020-10-19 05:06] copart commented on #690
I got it!
I had to move from Entware-ng to Entware. Upgraded to python3.

Downloaded source for 1.1.14.

And:
python3 ./setup.py install

Wow

[2020-10-19 05:09] quicktrick commented on #690
Congratulations!   Is it working now?

[2020-10-19 07:32] jchhenderson commented on #690
ugh - my QNAP's OS keep killing Borg because it has an "Invalid Digital Signature" (I think from the original 1.1.7 package that I installed first before updating 1.1.14 over it).

[2020-10-19 09:09] noplanman commented on #690
@jchhenderson Maybe instead of overwriting the original 1.1.7 binary, you can try to simply replace the alias and move the 1.1.14 binary directly to `/usr/bin/borg`.
There might be some cronjob or something checking signatures that needs to be disabled, I don't know QNAP, sorry 😕

[2020-10-19 09:27] jchhenderson commented on #690
@noplanman - thanks, will try that.
No apologies necessary, I appreciate the friendly help 👍

[2020-10-19 11:10] Seoka commented on #4841
Perfekt! This solves my Problem.
(Suggestion: Change the Renaming of the actual files to one of these:
* "{name_without_postfix}.{unixtimstamp}.{postfix}"
* "{timestamp}.{postfix}"
* "{timestamp}_{full_file_name}"

this way you are not so likely to loose the information of the time. Timestamp could be anything from unix-timestamp to iso formated time.)
For all struggling with the command like me,

[2020-10-19 11:10] #4841 closed

[2020-10-19 13:01] Gu1nness commented on #5278
Seems to be by design, but maybe allowing the other patterns can be a good idea as well?
I can do this, I have started looking at the code in order to understand the logic and be more efficient if I have to work on this section of the code

[2020-10-19 15:34] ThomasWaldmann commented on #4841
I don't remember precisely, but I guess:

Timestamp: the timestamp of the files is from the first backup archive when a change has been seen by borg. So, you have it there and the timestamp does not need to be duplicated into the generated filename.

Filename: the filename is the containing directory name, so no need for duplicating that either.

Archive name: that would be more interesting indeed

[2020-10-19 15:42] ThomasWaldmann commented on #5278
@Gu1nness PRs welcome. Try to reuse code from existing patterns matching, if possible.

[2020-10-19 17:06] ncw commented on #4795
It would be worth testing this again against rclone 1.53.1 or later as the VFS layer was re-written for that version and lots of little corner case bugs were winkled out.

[2020-10-19 17:17] Jerome-thinking opened #5431 "borg init PermissionError with s3 compatible digitalocean spaces mounted with s3fs"
## Have you checked borgbackup docs, FAQ, and open Github issues?

Yes

## Is this a BUG / ISSUE report or a QUESTION?

Issue

## System information. For client/server mode post info for both machines.
alpine:3.12 as a docker container

#### Your borg version (borg -V).
(borg-env) bash-5.0$ borg -V
borg 1.1.14

#### Operating system (distribution) and version.
Linux e9a2072141cd 4.19.76-linuxkit #

[2020-10-19 18:52] ThomasWaldmann commented on #5431
I'm pretty sure this is a permissions issue (check permissions in your repo directory) or an issue with your filesystem (s3fs).

What borg does there is simply renaming config.tmp over config, which is a valid fs operation (and which should be atomic).

[2020-10-19 23:25] copart commented on #690
@quicktrick
Only fixed ssh (opkg messed it up) just now. Still has same issue where a backup is disconnecting before completing.

The following is same issue I had with previous version, which is why I wanted to upgrade
[code]
The "Connection closed by remote host" is happening before the backup finishes, notice we are not seeing that stats (--stats).

Running a check now, hopefully this fixes it.

[2020-10-20 04:17] satwell opened #5432 "Store a GPG-encrypted copy of the keyfile in the repository"
## Have you checked borgbackup docs, FAQ, and open Github issues?

Yes

## Is this a BUG / ISSUE report or a QUESTION?

Feature Request

## System information. For client/server mode post info for both machines.

#### Your borg version (borg -V).

1.1.14

#### Operating system (distribution) and version.

Linux, Debian Buster and Bullseye
MacOS, Catalina

## Describe the problem you're observing.

[2020-10-20 11:20] ThomasWaldmann commented on #5432
How about just using gpg and scp within a custom script?

Not sure if it counts as a "key backup" if you store the gpg-encrypted key right besides the repokey, especially if one would put it into the repo config.

Also, I don't think I want to integrate gpg for anything into borg. gpg would just add a lot of complexity for users and developers.

[2020-10-20 14:47] noplanman commented on #5414
We've decided to build the ARM binaries for alpha and beta versions too 👍

You can find them at https://borg.bauerj.eu/?show-unstable

I'll be updating the build system to also include all 1.2.* alpha builds.

[2020-10-20 14:57] noplanman commented on #690
@copart Do you run into the same disconnect problem with a fresh repo?

[2020-10-20 16:21] satwell commented on #5432
Yes, definitely I can get what I want by writing my own tools for this.  I started down that route and realized that, for me at least, the ideal place to store a GPG-encrypted keyfile would be in the repository itself.  That way it could be written and read through `borg serve`, and I could easily extend my existing client-side monitoring to verify that the repository contains a GPG-encrypted keyf

[2020-10-20 17:21] ThomasWaldmann commented on #5421
BountySource support is taking rather long. They did not solve it yet...

@enkore kick me out from borgbackup team membership and then add me back / send me an invite again, please.

[2020-10-20 18:40] enkore commented on #5421
Done!

[2020-10-20 20:31] ThomasWaldmann commented on #5421
Hmm, I didn't get an invite. Did you just add me without invite?

Also, still no access to org funds, still broken in the same way as before...

[2020-10-20 20:35] ThomasWaldmann commented on #5421
First email:

Hi ThomasWaldmann,

You have been added as a member of the borgbackup team on Bountysource.

As a member of the borgbackup team, you may be able to take part in a number of activities, according to the permissions that have been set, such as:

    Public - Publicly displayed as a member of borgbackup.
    Developer - Can spend funds that are in the team account.
    Admin - Can add/r

[2020-10-20 20:35] ThomasWaldmann commented on #5421
Second email:

Hi ThomasWaldmann,

Your permissions for borgbackup have been modified by enkore:

    Developer privileges enabled.
    Public visibility enabled.
    Admin access enabled.

Thanks,
The Bountysource Team

[2020-10-20 21:40] ThomasWaldmann commented on #5407
@Gu1nness if you like, review #5430.

[2020-10-20 22:05] enkore commented on #5421
Invitations only seem to be for people that don't have a BS account, those who do have one, seem to get added immediately.

[2020-10-21 04:03] billop commented on #1857
Relationship with #1650 is still confusing to me.

Anyways, I just want to say that this would be very useful for me since I started off a long time ago backing up my whole system, but these days I've realized that with proper system config management, I only really want to back up my home directory. However I'm stuck backing up `/home/x/{Documents,Music,etc.}` rather than directly backing up `Doc

[2020-10-21 09:35] Gu1nness commented on #5422
Hum even though SIGALRM seems appealing, I'm not sure this solution is universal enough:
There can be many places where we might want to have a timeout IMHO and SIGALRM does not exists on WIndows. So I would rather go for opening a thread that just waits the right amount of time before exiting, and joining this thread. When the thread joins, we have reached the timeout and hence we can raise an ex

[2020-10-21 09:56] Gu1nness commented on #5336
So the sentence `HASH_MASK_BITS = 21 (statistical medium chunk size ~= 2^21 B = 2 MiB)`
would become `HASH_MASK_BITS = 21 (average chunk size ~= 2^21 B = 2 MiB)`?

If so I can provide a patch soon.

[2020-10-21 15:33] enkore commented on #5422
Joining a thread is a blocking operation in itself that you can't use to interrupt a blocking syscall.

[2020-10-21 16:23] hashbackup commented on #5336
A good chunker will generate a consistent average chunk size, but having a minimum and maximum chunk size skews things.  For example, min/avg/max = 2/2/2 will have an average chunk size of 2 (fixed chunk size), 2/2/4 will have an average chunk size > 2, and 1/2/2 will have an average chunk size < 2.  Intuitively it seems if the min and max are symmetric, like 4/8/12, the mean would be 8, but I don

[2020-10-21 17:48] fallen commented on #5422
If on a libc that supports it, you can do `pthread_cancel()` on the thread.
`open()` and `read()` are listed in `man 7 pthreads` as required to be cancellation points by POSIX.1-2001 and/or POSIX.1-2008.
I don't know about Windows support for pthreads and their cancellations.

[2020-10-21 20:17] justchris1 opened #5434 "How to suppress 'remote' output of borg create"
First of all - thanks for the great tool!  I am finding it quite capable.  Also, thanks for allowing questions to be asked in this forum.

## Have you checked borgbackup docs, FAQ, and open Github issues?

Yes

## Is this a BUG / ISSUE report or a QUESTION?

QUESTION

## System information. For client/server mode post info for both machines.
VM's with VMWare.  Each has 2 CPUs, 8GB RAM.

#### Your

[2020-10-21 21:04] ThomasWaldmann commented on #5434
I don't think this comes from borg. Maybe from ssh?

BTW, "Remote:" here only means that borg received this on the pipe that is connected to the local ssh client.
Usually, this is stuff coming from the remote side, but it could also be something that the local ssh client has output.

[2020-10-21 21:06] enkore commented on #5422
I see what you mean now. That should work, though the interaction of thread cancellation and the CPython runtime may be hairy (probably easier to side-step that can of worms by writing the thread in C and not touching anything Python from it). From what I've heard this is a somewhat hairy corner of POSIX, though it may be manageable for a simple, single-purpose thread.

[2020-10-21 21:08] ThomasWaldmann commented on #5336
Maybe we could just talk about a "target chunk size". That is less likely to be mathematically wrong.

[2020-10-21 21:10] justchris1 commented on #5434
Thanks for the quick thoughts.  I had also suspected it might be originating from SSH.  Is there a way of controlling what Borg does with the output from the SSH client, or at what verbosity level it would be reported to the output pipe?

[2020-10-21 21:11] ThomasWaldmann commented on #5421
@enkore Before your try, I did invite myself. BS said "invite sent", but I never got an email. So I thought it always works via sending invite / invite acceptance.

[2020-10-21 21:13] enkore commented on #5434
Sounds like /etc/issue.

[2020-10-21 21:18] ThomasWaldmann commented on #1857
Why are you "stuck" with that? You can change it any time...

[2020-10-21 21:50] billop commented on #1857
What do you mean? I thought that moving paths in recreate wasn't possible.

[2020-10-21 22:31] ThomasWaldmann commented on #1857
What I meant is to change the `borg create` command and just have the desired path layout for future archives.

[2020-10-21 22:39] billop commented on #1857
@ThomasWaldmann would deduplication still work? That was my main concern.

[2020-10-22 06:27] ThomasWaldmann commented on #1857
@billop yes, deduplication in borg works based on file **content**, not on file **name** (path). to be precise, as long as the chunker produces the same chunks, it will work fine.

BUT (not relevant here I guess), the first backup after you change absolute pathes in the filesystem, borg will be slower due to misses in the files cache.

[2020-10-22 06:48] noplanman commented on #4360
ARM binaries are now built for alpha and beta versions as well.

https://borg.bauerj.eu/?show-unstable#archive

[2020-10-22 07:19] fallen commented on #5422
Another track maybe worth a try:

[code]

if I create a fifo in one terminal: `mkfifo myfifo` then run the above script in another one, it seems to work OK
The first loop could have any kind of timeout since it never blocks.
This could run in main thread.

[2020-10-22 12:06] justchris1 commented on #5434
Thanks for the excellent help!  It might be helpful to potentially control what borg create does with the output of the pipe from the remote, or at least assign it to a debug level (such as --verbose or --info).  However, I will leave it up the project to decide if that is desirable from their perspective.  For others who are affected by the same issue searching in the future, I was able to contro

[2020-10-22 12:06] #5434 closed

[2020-10-22 13:17] Gu1nness commented on #5336
Sure
Patch incoming tonight.

[2020-10-22 13:42] jchhenderson commented on #690
Uninstalling the 1.1.7 .qpkg and moving the 1.1.14 binary to /usr/bin/borg (and making executable) worked perfectly

Thanks you so much!

[2020-10-22 23:39] billop commented on #1857
@ThomasWaldmann wow that's amazing. Thanks.

[2020-10-23 01:10] mmarinez commented on #5414
Hi, I would like to work on this issue. Is there anything else I would need to know before starting the testing?

[2020-10-23 06:37] 8FordPrefect8 opened #5435 "automatic reconnection by ISP kills pipe and borg create"
I tried Yesterday to perform my first off site backup with borg. This morning I checked my mails and saw already to my surprise the backup report I create in my script.
The connection was lost due to a broken pipe. I had directly an idea about the resaon and checked my router. At the very same time the nightly ISP reconnect occured.

I couldn't find anything in the docs how to overcome this issue.

[2020-10-23 09:01] ThomasWaldmann commented on #5435
You can just keep trying, using your same script. borg creates checkpoints (by default every 30 mins), so at some time, it will have transferred all chunks to the server and then the daily backup will be quite fast.

The only case where this does not apply, is when your daily changes are more than you can transfer before it disconnects you, then you should backup more often or get a better connect

[2020-10-23 09:04] ThomasWaldmann commented on #5435
And no, borg does neither handle the connection (ssh does) nor does it do automatic reconnects.

In case your repo is locked, make sure that not borg is currently running first and only then use `borg break-lock`.

[2020-10-23 09:09] ThomasWaldmann commented on #5414
https://github.com/pyinstaller/pyinstaller/issues/2357 see the last comment there, maybe test that, too.

[2020-10-23 09:15] ThomasWaldmann commented on #5414
@mmarinez well, the biggest change is about how the binary is built / the glibc it is built for / the python version it bundles/uses, so guess testing should address primarily that.

[2020-10-23 09:22] 8FordPrefect8 commented on #5435
Ah, I didn't check if borg was running before i broke the log. It shouldn't though.
But what could happen if it was running? Anything I should check now or once the initial archive is done?

Thx for your help with some of the noobish questions.

My connection is quite good. I don't know if it's an international thing, but I guess you are german like me. So here it is quite common that as normal cu

[2020-10-23 10:38] Gu1nness commented on #5336
(Sorry, emergency yesterday night, and not available before monday I guess, except in some edge cases)

[2020-10-23 13:49] #5336 closed

[2020-10-23 13:54] ThomasWaldmann commented on #5435
If 2 borg write to same repo, I guess it could leads to inconsistencies or damage of the repo in the worst case.
The lock is there to avoid that, so don't break it if you did not make sure no borg is running.
Usually, even in case of exceptions, borg should remove the lock when terminating.

The connection breaks down due to your provider shutting down your internet connection for a short time. Af

[2020-10-23 18:15] diego-treitos commented on #1772
I am testing `borgbackup` and I found also this problem with its architecture.

I would like to share an idea which I don't know if it is realistic. *Could we implement the pruning in the server side?*. I the server saves the last date of when a chunck was required by any archive, then maybe the server can delete the chunks that have a date  older than the configured one for pruning.

If a chunck

[2020-10-23 21:47] enkore commented on #1772
The server doesn't know when an archive references a chunk due to encryption.

[2020-10-24 09:17] diego-treitos commented on #1772
I guess so, but I was wondering if it could be possible for the server to store that information. The amount of information is minimal and it doesn't look that it could disclose anything about the contents of the backup. Only getting that information should allow to prune the archives server side which is a big improvement in security.

[2020-10-26 16:09] ThomasWaldmann opened #5438 "spurious failure in test_cache_files"
current master branch on travis-ci:
[code]

Bounty: https://www.bountysource.com/issues/93666717-spurious-failure-in-test_cache_files

[2020-10-27 15:03] probinso commented on #4580
Was there a solution to this problem? @noplanman

[2020-10-27 16:14] ppenguin commented on #1070
Sorry to (again) revive this thread, I guess some never stop trying ;)

I'm tempted like others before me to consider plugging in a "bucket-based" cloud backend (like `S3` or `tardigrade`) into `borg`.
I'm aware of and understand (part of) the concerns in this thread (although being a noob in `borg` internals).

Based on [this comment by enkore](https://github.com/borgbackup/borg/issues/1070#issue

[2020-10-27 16:21] noplanman commented on #4580
@probinso Unfortunately not and i stopped looking.

My "test" now consists of `borg -V` to ensure the binary "works" and isn't corrupt in any way.

Not sure if that helps you in any way.
Why do you ask? Are you attempting something similar?

[2020-10-27 18:28] probinso commented on #4580
this looks to be a bug in tox.

[2020-10-27 19:02] sophie-h opened #5439 "Race condition with get_cache_dir()"
My integration tests for borg bindings fail from time to time because there is a race condition here

[code]

[2020-10-27 19:08] ThomasWaldmann commented on #5439
What does "fail" mean precisely? Do you get a traceback and if you, can you add it here please?

[2020-10-27 19:16] ThomasWaldmann commented on #5421
I did another try inviting myself. Sending the invite email takes about 15 mins, so I first thought "it's not working (again)", but in the end, I got the invitation email.

I have now added another copy of myself as "ThomasWaldmann2", with admin privileges, and from **that** user, I can access borgbackup funds.

The account "ThomasWaldmann" is still not working.

[2020-10-27 19:22] enkore commented on #5424
Close this? It seems to me like Borg has shown in practice that it can absolutely do this and the docs answer all of these questions.

[2020-10-27 19:23] ThomasWaldmann opened #5440 "do back/forward ports (40)"
https://github.com/borgbackup/borg/issues?utf8=%E2%9C%93&q=label%3Abackport%2F1.1-maint
https://github.com/borgbackup/borg/issues?utf8=%E2%9C%93&q=label%3Aforwardport%2Fmaster

do 3 simple/small or 1 bigger/complex forward/backport from there.

---

:moneybag: [there is a bounty for this](https://www.bountysource.com/issues/93672155-do-back-forward-ports-40)

[2020-10-27 19:24] ThomasWaldmann opened #5441 "do back/forward ports (41)"
https://github.com/borgbackup/borg/issues?utf8=%E2%9C%93&q=label%3Abackport%2F1.1-maint
https://github.com/borgbackup/borg/issues?utf8=%E2%9C%93&q=label%3Aforwardport%2Fmaster

do 3 simple/small or 1 bigger/complex forward/backport from there.

---

:moneybag: [there is a bounty for this](https://www.bountysource.com/issues/93672154-do-back-forward-ports-41)

[2020-10-27 19:24] enkore commented on #5439
I suppose we could just add exist_ok=True there, after reviewing that nothing around that snippet assumes exclusive access (shouldn't be the case, we got explicit locks for that).

[2020-10-27 19:25] ThomasWaldmann opened #5442 "do back/forward ports (42)"
https://github.com/borgbackup/borg/issues?utf8=%E2%9C%93&q=label%3Abackport%2F1.1-maint
https://github.com/borgbackup/borg/issues?utf8=%E2%9C%93&q=label%3Aforwardport%2Fmaster

do 3 simple/small or 1 bigger/complex forward/backport from there.

---

:moneybag: [there is a bounty for this](https://www.bountysource.com/issues/93672153-do-back-forward-ports-42)

[2020-10-27 19:25] ThomasWaldmann opened #5443 "do back/forward ports (43)"
https://github.com/borgbackup/borg/issues?utf8=%E2%9C%93&q=label%3Abackport%2F1.1-maint
https://github.com/borgbackup/borg/issues?utf8=%E2%9C%93&q=label%3Aforwardport%2Fmaster

do 3 simple/small or 1 bigger/complex forward/backport from there.

---

:moneybag: [there is a bounty for this](https://www.bountysource.com/issues/93672152-do-back-forward-ports-43)

[2020-10-27 19:26] ThomasWaldmann opened #5444 "do back/forward ports (44)"
https://github.com/borgbackup/borg/issues?utf8=%E2%9C%93&q=label%3Abackport%2F1.1-maint
https://github.com/borgbackup/borg/issues?utf8=%E2%9C%93&q=label%3Aforwardport%2Fmaster

do 3 simple/small or 1 bigger/complex forward/backport from there.

---

:moneybag: [there is a bounty for this](https://www.bountysource.com/issues/93672151-do-back-forward-ports-44)

[2020-10-27 19:26] ThomasWaldmann opened #5445 "do back/forward ports (45)"
https://github.com/borgbackup/borg/issues?utf8=%E2%9C%93&q=label%3Abackport%2F1.1-maint
https://github.com/borgbackup/borg/issues?utf8=%E2%9C%93&q=label%3Aforwardport%2Fmaster

do 3 simple/small or 1 bigger/complex forward/backport from there.

---

:moneybag: [there is a bounty for this](https://www.bountysource.com/issues/93672150-do-back-forward-ports-45)

[2020-10-27 19:26] sophie-h commented on #5439
I thought the race condition was obvious from the code above:

It also happens for config

[2020-10-27 19:27] ThomasWaldmann opened #5446 "do back/forward ports (46)"
https://github.com/borgbackup/borg/issues?utf8=%E2%9C%93&q=label%3Abackport%2F1.1-maint
https://github.com/borgbackup/borg/issues?utf8=%E2%9C%93&q=label%3Aforwardport%2Fmaster

do 3 simple/small or 1 bigger/complex forward/backport from there.

---

:moneybag: [there is a bounty for this](https://www.bountysource.com/issues/93672149-do-back-forward-ports-46)

[2020-10-27 19:27] ThomasWaldmann opened #5447 "do back/forward ports (47)"
https://github.com/borgbackup/borg/issues?utf8=%E2%9C%93&q=label%3Abackport%2F1.1-maint
https://github.com/borgbackup/borg/issues?utf8=%E2%9C%93&q=label%3Aforwardport%2Fmaster

do 3 simple/small or 1 bigger/complex forward/backport from there.

---

:moneybag: [there is a bounty for this](https://www.bountysource.com/issues/93672148-do-back-forward-ports-47)

[2020-10-27 19:27] ThomasWaldmann opened #5448 "do back/forward ports (48)"
https://github.com/borgbackup/borg/issues?utf8=%E2%9C%93&q=label%3Abackport%2F1.1-maint
https://github.com/borgbackup/borg/issues?utf8=%E2%9C%93&q=label%3Aforwardport%2Fmaster

do 3 simple/small or 1 bigger/complex forward/backport from there.

---

:moneybag: [there is a bounty for this](https://www.bountysource.com/issues/93672147-do-back-forward-ports-48)

[2020-10-27 19:28] ThomasWaldmann opened #5449 "do back/forward ports (49)"
https://github.com/borgbackup/borg/issues?utf8=%E2%9C%93&q=label%3Abackport%2F1.1-maint
https://github.com/borgbackup/borg/issues?utf8=%E2%9C%93&q=label%3Aforwardport%2Fmaster

do 3 simple/small or 1 bigger/complex forward/backport from there.

---

:moneybag: [there is a bounty for this](https://www.bountysource.com/issues/93672146-do-back-forward-ports-49)

[2020-10-27 19:29] ThomasWaldmann commented on #5439
Can you post it in a readable format?

[2020-10-27 19:30] enkore commented on #5439
Yeah, both of these functions should just use exist_ok, because they're creating the top-level directories, not even the specific cache/config dirs for a repo.

[2020-10-27 19:32] #5424 closed

[2020-10-27 19:47] ThomasWaldmann commented on #5439
Note: #5216 is working on same code and intention is to fix this at the same time.

[2020-10-27 20:04] ThomasWaldmann commented on #4287
Is this still happening?

[2020-10-27 20:06] ThomasWaldmann commented on #1755
one could do a new test using pyfuse3 after #4122 is closed.

[2020-10-27 20:10] ThomasWaldmann opened #5450 "update docs bounty (39)"
there are quite some docs issues: https://github.com/borgbackup/borg/labels/documentation

grab some doc update issues, create a PR against master (and, after discussion, also to 1.1-maint, if applicable, see here, also linked from PR submission template)

the bounty is for fixing 2 small issues or 1 bigger issue.
docs issues that already have a bounty on them do not qualify.

---

:moneybag: [the

[2020-10-27 20:10] ThomasWaldmann opened #5451 "update docs bounty (40)"
there are quite some docs issues: https://github.com/borgbackup/borg/labels/documentation

grab some doc update issues, create a PR against master (and, after discussion, also to 1.1-maint, if applicable, see here, also linked from PR submission template)

the bounty is for fixing 2 small issues or 1 bigger issue.
docs issues that already have a bounty on them do not qualify.

---

:moneybag: [the

[2020-10-27 20:11] ThomasWaldmann opened #5452 "update docs bounty (41)"
there are quite some docs issues: https://github.com/borgbackup/borg/labels/documentation

grab some doc update issues, create a PR against master (and, after discussion, also to 1.1-maint, if applicable, see here, also linked from PR submission template)

the bounty is for fixing 2 small issues or 1 bigger issue.
docs issues that already have a bounty on them do not qualify.

---

:moneybag: [the

[2020-10-27 20:11] ThomasWaldmann opened #5453 "update docs bounty (42)"
there are quite some docs issues: https://github.com/borgbackup/borg/labels/documentation

grab some doc update issues, create a PR against master (and, after discussion, also to 1.1-maint, if applicable, see here, also linked from PR submission template)

the bounty is for fixing 2 small issues or 1 bigger issue.
docs issues that already have a bounty on them do not qualify.

---

:moneybag: [the

[2020-10-27 20:11] ThomasWaldmann opened #5454 "update docs bounty (43)"
there are quite some docs issues: https://github.com/borgbackup/borg/labels/documentation

grab some doc update issues, create a PR against master (and, after discussion, also to 1.1-maint, if applicable, see here, also linked from PR submission template)

the bounty is for fixing 2 small issues or 1 bigger issue.
docs issues that already have a bounty on them do not qualify.

---

:moneybag: [the

[2020-10-27 20:12] ThomasWaldmann opened #5455 "update docs bounty (44)"
there are quite some docs issues: https://github.com/borgbackup/borg/labels/documentation

grab some doc update issues, create a PR against master (and, after discussion, also to 1.1-maint, if applicable, see here, also linked from PR submission template)

the bounty is for fixing 2 small issues or 1 bigger issue.
docs issues that already have a bounty on them do not qualify.

---

:moneybag: [the

[2020-10-27 20:36] ThomasWaldmann commented on #1042
maybe this can be checked again after fixing #4122.

[2020-10-27 21:40] FelixSchwarz commented on #4287
I did not see any unexpected test failures in Fedora for quite a while.

[2020-10-27 21:44] ThomasWaldmann commented on #4287
OK, I did not see that either, so I'll close it for now.

[2020-10-27 21:44] #4287 closed

[2020-10-28 07:44] noplanman commented on #4580
Thanks for explaining!

[2020-10-28 17:16] Nono-m0le opened #5457 "Backup to Synology stop with borg.remote.ConnectionClosed"
## Have you checked borgbackup docs, FAQ, and open Github issues?

YES

## Is this a BUG / ISSUE report or a QUESTION?

ISSUE

## System information. For client/server mode post info for both machines.

#### Your borg version (borg -V).
Client; 1.1.14 / Server: 1.1.13

#### Operating system (distribution) and version.
Debian 10

#### Hardware / network configuration, and filesystems used.
Dedicate

[2020-10-28 22:40] ThomasWaldmann commented on #5457
Did you check these issues?

https://github.com/borgbackup/borg/issues?q=is%3Aissue+is%3Aopen+Connection+closed+by+remote+host

[2020-10-28 23:08] Nono-m0le commented on #5457
Hi @ThomasWaldmann ,

Yup, and I consider all of them (including result from my research engine) none of them fit my issue.
On my case, backup works from the same source (dedicated server using XEN) to the same destination.
I suceed, backup BEFORE this one, AFTER this one, and each are longer/bigger than this one, and really nothing obvious explain why it failed like this, and almost never for the

[2020-10-29 22:53] noplanman opened #5459 "Compile / build borgbackup with musl"
## Have you checked borgbackup docs, FAQ, and open Github issues?

Yes

## Is this a BUG / ISSUE report or a QUESTION?

Question

## Describe the question.

Does anybody have experience building borgbackup with musl?

This would be great, to add support for OpenWrt based routers and any other devices that prefer musl instead of glibc.

[2020-10-30 01:07] ThomasWaldmann commented on #5459
I never tried...

[2020-10-30 16:15] noplanman commented on #5459
I'm asking because of an issue we got on the ARM binary builder repo:
https://git.feneas.org/borg-binary-builder/borg-binaries/-/issues/6

Would be super cool to have binaries for OpenWrt routers! (not only because I have one too 😉)

As this is completely unknown territory for me, it would be great if somebody with experience would chime in and see if they could get it to work 🙏

[2020-10-30 21:32] roseswe opened #5460 "reopen #4112 - UnicodeEncodeError: 'ascii' codec can't encode character '\xe0' in position 44: ordinal not in range(128)"
$ borg mount -f $PWD ~/drv/mnt/
Local Exception
Traceback (most recent call last):
  File "borg/archiver.py", line 4591, in main
  File "borg/archiver.py", line 4523, in run
  File "borg/archiver.py", line 1399, in do_mount
  File "borg/archiver.py", line 176, in wrapper
  File "borg/archiver.py", line 1409, in _do_mount
  File "borg/fuse.py", line 364, in mount
  File "borg/fuse.py", line 38, in

[2020-10-30 21:34] roseswe commented on #5460
A workaround that works for me is:
    $ export LC_ALL=de_DE.UTF-8
then do the mount

[2020-10-31 02:24] infectormp commented on #5460
https://borgbackup.readthedocs.io/en/stable/faq.html#if-it-crashes-with-a-unicodeerror-what-can-i-do

[2020-10-31 12:38] Grunthos opened #5461 "Alternative to ```borg mount -f``` for debugging a script?"
**Have you checked borgbackup docs, FAQ, and open Github issues?**

Yes

**Is this a BUG / ISSUE report or a QUESTION?**

QUESTION

**Borg Version 1.1.9 on Debian 10.6.**

### Question:

I have a series of processes that run as follows (each process locks the other one from running):

PROCESS A -- regular rsync to local FS of a remote repository
PROCESS B -- Mount the rsynced repository and back i

[2020-10-31 13:02] Grunthos commented on #5284
An update: this seems to work, except I think there IS an issue with the cache. If the source repo has a partial data file (<512MB) and that is copied to the second machine then cached some time later, it sometime fails to recognize when the original file is later updated. I suspect there might be a race condition on the file date....or something. Not entirely sure what is happening.

[2020-10-31 13:17] ThomasWaldmann commented on #5461
Your borg is too old and has severe issues, please use a more recent one (see debian backports, ubuntu ppa).

Logging options: they are global thus common to all borg subcommands, but it might be that borg mount does not generate much log output because for the usual use case it is running in the background.

Without a better error message than "Transport endpoint is not connected", there is no di

[2020-10-31 13:21] Grunthos commented on #5461
Upgraded to 1.1.14. The log level (in 1.1.9) was WARNING and nothing appeared -- other comments about the transport error suggested foreground mount to catch the traceback...I was hoping for a way to catch that in a script. But if 1.1.14 fixes it then problem solved!

[2020-10-31 13:21] ThomasWaldmann commented on #5284
With "natural states" I did only mean the non-locked states. You newer should copy a locked repo that might have partial files.

[2020-10-31 13:23] ThomasWaldmann commented on #5461
I did not say that **this** issue is fixed (might be or not), so you just have to see.

[2020-10-31 13:25] ThomasWaldmann commented on #5460
Documented / known / not a borg issue.

If you want to deal with non-ascii file names, you need to configure your OS (your locale) for that.

[2020-10-31 13:25] #5460 closed

[2020-10-31 13:28] Grunthos commented on #5284
Misunderstanding: the repo is never lock or in use when it is rsynced.

[2020-10-31 13:51] ThomasWaldmann commented on #5284
You should use `borg with-lock` to start the copy process. The repo will be locked for the copy process then.

Even when borg is crashing / the connection breaks down, the repo should not be in a problematic state.

[2020-10-31 13:56] Grunthos commented on #5284
That's what it does (borg-with-lock). Pretty confident the repo was unused. I do think there is a race condition with the remote cache...or something...next time it happens (1 in 100 roughly so far), I'll take more details.

[2020-10-31 14:11] ThomasWaldmann commented on #5284
There are multiple caches / indexes, see the code for details.

But, as a general comment: if you need to think about that, something is already wrong.

In your case, it is that you have 2 copies of the same repo (with the same repo id) and you work with both. As long as they are in same state and you only do read accesses, it will work. If not, it won't / it might cause issues.

[2020-10-31 14:14] Grunthos commented on #5284
Don't forget the two identical repos are on different machines. The only contact is rsync, that locks the source first. And the copy is read-only.

[2020-11-01 09:18] m3nu commented on #5414
For macOS I'm currently using the develop branch of PyInstaller due to [this issue](https://github.com/gridsync/gridsync/issues/267#issuecomment-609980411), which needs a bootloader with newer `MACOSX_DEPLOYMENT_TARGET`.

With this setup I didn't see any issue when calling `subprocess` on the Pyinstaller `borg` binary. I also tried building the `borg` binary with the official Pyinstaller version o

[2020-11-01 18:44] #5333 closed

[2020-11-02 18:02] Seoka commented on #4841
As this is of topic, I think this discussion should not be within this section.
But since I am already replying, my thoughts:
You are right on the Timestamp and Filename duplication thoughts. Numbered symlinks might be, depending on the kind of implementation, pretty power consuming as you would need to mount a lot?
[code]
Thinking of mounting - lets say 50% - 5TB on my system makes me doubt it ca

[2020-11-02 19:47] ThomasWaldmann commented on #4841
Not sure I understand what problem you are referring to.

If the feature I described was implemented, of course it would need to create a lot of symlinks - but with the current `versions` implementation, the number of fs objects (numbered files) is the same amount (symlink source). The fs objects pointed to by the symlinks would add to that. But you also have that if you mount a whole repo and lis

[2020-11-02 20:00] ThomasWaldmann opened #5467 "move from travis-ci to github workflows/actions"
https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing

about borg's usage of travis-ci:
- the linux based test runs take rather long
- the macOS based test runs take even longer and are problematic #5370 #5405
- due to sudo, we need VMs
- we need to test on different python versions, on different OSes (linux and mac) and in master branch with llfuse or pyfuse3.

we did **not** overuse by tes

[2020-11-02 20:15] ThomasWaldmann opened #5468 "travis-ci.com migration"
deadline: 2020-12-31

https://docs.travis-ci.com/user/migrate/open-source-repository-migration

https://blog.travis-ci.com/2018-05-02-open-source-projects-on-travis-ci-com-with-github-apps

https://mailchi.mp/3d439eeb1098/travis-ciorg-is-moving-to-travis-cicom

Note: badges in README files also need to be changed to point to `.com`.

Example change:
[code]

[2020-11-02 21:51] #5407 closed

[2020-11-02 22:15] ThomasWaldmann commented on #5467
Only a few builds after the migration to .com, travis tells me that the `borgbackup` organization has use 1590 of the 10000 monthly credits already.

So, it's easy to see that the free credits won't be enough.

As the macOS test jobs are especially expensive, I guess I'll switch them off unless somebody is sponsoring them.

[2020-11-02 22:35] ThomasWaldmann commented on #5467
Now it is 6980 used already. These 10000 credits do not suffice even for 1 day of dev activity. :-(

[2020-11-02 22:49] ThomasWaldmann commented on #5467
Now used 12000 credits already. Out of credits, game over for now. :-(

These were only a few, even trivial pull requests and only a few hours on that new tariff of travis-ci...

[2020-11-02 22:56] ThomasWaldmann commented on #5467
I had a look at the paid plans (prices are per month):
- USD 69 for 1 concurrent job (== wait for 1h at least)
- USD 129 for 2 concurrent jobs (== wait for 0.5h at least)
- USD 249 for 5 concurrent jobs (== wait for 0.2h at least)

So, they sell the same amount of usage time for a almost linearly going up price depending on how long one wants to wait.

Doesn't look like that will work for us.

[2020-11-02 23:06] milkey-mouse commented on #5189
`--timezone` only accepts timezones in UTC. Are you saying to "work backwards" from the UTC timestamp given and make `{now}` what that UTC time corresponds to in local time?

[2020-11-02 23:36] ThomasWaldmann commented on #5468
Done. Now we have the problems early that we otherwise would have had end of december. :-(

[2020-11-02 23:36] #5468 closed

[2020-11-03 02:00] milkey-mouse commented on #5440
#5475
#5477
#5478

[2020-11-03 05:57] jurgenhaas commented on #5467
Thats why i switched all projects to GitLab, even to a self-hosted instance. Pipelines are great, scalable and free. I'm happy to help, get in touch to share ideas.

[2020-11-03 12:42] ThomasWaldmann commented on #5467
I'm checking out github workflows/actions right now.

[2020-11-03 12:57] #5438 closed

[2020-11-03 14:49] #5415 closed

[2020-11-03 14:55] #5371 closed

[2020-11-03 14:59] ThomasWaldmann commented on #5440
done.

[2020-11-03 14:59] #5440 closed

[2020-11-03 15:03] ThomasWaldmann commented on #5216
@Gu1nness are you working on this? there's a bounty on it now. :-)

[2020-11-03 15:05] ThomasWaldmann commented on #5405
I am solving this right now by migrating to github workflows. ;-)

[2020-11-03 15:14] ThomasWaldmann commented on #5405
https://github.com/borgbackup/borg/pull/5474/files doing macOS testing via github workflow

https://github.com/borgbackup/borg/pull/5474/checks?check_run_id=1348188200 actual test job including macOS

[2020-11-03 15:15] ThomasWaldmann commented on #5405
solved.

[2020-11-03 15:15] #5405 closed

[2020-11-03 16:07] anarcat opened #5480 "FAQ points to closed issue for pull backups"
https://borgbackup.readthedocs.io/en/latest/faq.html#how-can-i-protect-against-a-hacked-backup-client says:

That's great except #900 is a kind of long issue that was closed because BountySource and chaos. Maybe it would be best to point to some other documentation for pull-mode? Maybe something about #5288 which I believe made https://borgbackup.readthedocs.io/en/latest/deployment/pull-backup.htm

[2020-11-03 21:29] #5189 closed

[2020-11-03 22:26] Nono-m0le commented on #5457
@ThomasWaldmann Is there any log or info I could bring in, in order to figure out what's going on for the backup ?

[2020-11-03 22:56] ThomasWaldmann commented on #5457
It's likely an ssh issue. If it was a borg issue, you would see a traceback or something.

But it just says "connection closed by remote host".

[2020-11-04 01:13] ThomasWaldmann commented on #5441
- #5473
- #5474
- #5482

[2020-11-04 01:15] #5441 closed

[2020-11-04 07:36] Gu1nness commented on #5216
Yes, still on this one, I just need to find a way to re-raise the issue in a way that will not leave a stracktrace like you asked (and I got involved in Tor for a few weeks because I wanted to do some C code ^^)
If you have any clues, I'd be happy to hear about it!

[2020-11-04 09:12] Gu1nness commented on #1633
What is exactly expected from this issue in terms of documentation?
Documenting the process to add a new compression algorithm?
Documenting the already existing algrotihms.
Both?

I'm ready to do this one

[2020-11-04 09:17] Gu1nness commented on #5236
Taking this one, documenting both patterns files and exclude files.
From what I understand (and from my tests) adding a space is not a problem since everything is handled by borg which reads one entry per line.

[2020-11-04 09:20] Gu1nness commented on #5301
Taking this one as well

[2020-11-04 09:32] Gu1nness commented on #3494
Does this still happens sometime ?
I haven't had the problem for at least one year now

[2020-11-04 09:34] Gu1nness commented on #1549
I will update the docs for this one as well

[2020-11-04 09:51] Gu1nness opened #5486 "Adding brotli as a new compression algorithm"
## Have you checked borgbackup docs, FAQ, and open Github issues?

Yes

## QUESTION

I'm willing to add brotli as a new compression algorithm. It is supported in Linux and BSD systems, I need to check on other platforms such as OSx and Windows.

Worst case, I can still use brotlipy which uses the brolilib from Google.

If borgbackup could back me up with a bountysource on this one, it would be awe

[2020-11-04 10:15] Gu1nness commented on #5467
Bad news indeed, maybe the code could be mirrored on a gitlab instance with CI and tested there?
Or use the Github CI workflow can also work but we don't know if they will change it the same way soon…

[2020-11-04 10:23] Gu1nness commented on #5459
Seems interesting.
There is a Vagrant VM for OpenWRT for testing, and setting up information
[code]
 in [setup.cfg](https://github.com/borgbackup/borg/blob/master/setup.cfg) could do the trick to build with it for this specific VM. What do you think @ThomasWaldmann

[2020-11-04 11:50] ThomasWaldmann commented on #5459
Don't most OpenWrt based systems have too little RAM for borg anyway?

[2020-11-04 11:52] ThomasWaldmann commented on #5486
Find and read the ticket about adding new compression algos, please.

[2020-11-04 11:54] ThomasWaldmann commented on #1549
@Gu1nness aren't all openssl 1.0.x out of support meanwhile and everybody who cares has already 1.1?

[2020-11-04 11:57] ThomasWaldmann commented on #3494
Not sure when I've seen it the last time. But we can watch out for it in the github workflows and if nobody writes here "seen it again there (LINK)" we can just close this in a while.

[2020-11-04 11:59] ThomasWaldmann commented on #1633
Guess it is enough to have this here on the issue tracker.

[2020-11-04 13:26] lorsanta commented on #5300
I was trying to solve this issue and I did some testing.  In PathPrefixPattern at the end of pattern a trailing slash is added.
https://github.com/borgbackup/borg/blob/49ce3aff64357a1995637767c7965349d6ec457b/src/borg/patterns.py#L240
So if we want to exclude root/somedir or root/somefile there is really no difference between pp and pf.
 I was thinking to solve this adding a note in the docs that

[2020-11-04 14:48] noplanman commented on #5459
@ThomasWaldmann How much RAM does Borg need / recommend?

I have a Turris Omnia with 1GB and there are versions with 2GB RAM, which should be more than enough, right?

[2020-11-04 16:13] meineerde commented on #5486
That would be #1633.

[2020-11-04 16:25] Report404 opened #5487 "pip install borg breaks borgbackup installation in debian"
## Have you checked borgbackup docs, FAQ, and open Github issues?

Did not find a discussion of my problem in either of that.

## Is this a BUG / ISSUE report or a QUESTION?

QUESTION / BURG

## System information. For client/server mode post info for both machines.

#### Your borg version (borg -V).
Package: borgbackup
Version: 1.1.9-2+deb10u1

#### Operating system (distribution) and version.
Li

[2020-11-04 20:10] ThomasWaldmann commented on #5487
the package name is `borgbackup`, not `borg`.

[2020-11-04 20:10] #5487 closed

[2020-11-04 20:13] ThomasWaldmann commented on #5459
It depends, there are some formulas on the docs to estimate RAM usage.

[2020-11-04 23:40] Nono-m0le commented on #5457
@ThomasWaldmann at your knowledge, is there any way to debug the ssh when using borg ?
I'm finding strange that this may happens only from time to time, on different VM, all from the same server. (Because, finally, the "faulty VM" finally suceed to backup once or twice, over 2 weeks).

[2020-11-05 20:59] Gu1nness commented on #5486
Yes I looked and commented this issue #1633 because I wanted to add it in the documentation.
I think brotli (@ThomasWaldmann you mentioned it in 2016) can be a good idea, I will implement it and see the performances of this compression compared with zstd, lzma and zlib to see if there is a use for this.

[2020-11-05 23:52] ThomasWaldmann commented on #5486
https://community.centminmod.com/threads/round-3-compression-comparison-benchmarks-zstd-vs-brotli-vs-pigz-vs-bzip2-vs-xz-etc.17259/#post-73060

See how the zstd is always to the left (== faster at same compression) of brotli?

If you have time you can do of course own borg based measurement, but that graph doesn't look like brotli is a worthwhile addition - see the criteria in #1633, top post.

[2020-11-06 09:26] noplanman commented on #5459
@Gu1nness I've tried your suggestion, but then end up with this error:
`error: don't know how to compile C/C++ code on platform 'posix' with 'musl' compiler`

I've installed `musl-tools` (which in turn installs `musl` and `musl-dev`).
How can I make python know about the `musl` compiler? Haven't found anything online 😕

[2020-11-07 16:48] ThomasWaldmann commented on #5439
https://github.com/borgbackup/borg/issues/5216#issuecomment-707852957 describes to remove the race condition, thus I am closing this as a duplicate.

[2020-11-07 16:48] #5439 closed

[2020-11-07 18:19] Gu1nness commented on #5486
Yeah indeed, I guessed brotli was better than that.
Closing this issue since it is now irrelevant.

[2020-11-07 18:20] Gu1nness commented on #1633
@ThomasWaldmann I guess it could be in the development.rst file for people not looking for it in the issue tracker. But that's just my point of view.

[2020-11-07 18:23] Gu1nness commented on #1549
Indeed.
Then we might close this issue then?

[2020-11-07 18:29] ThomasWaldmann commented on #1549
Yeah, let's close this.

[2020-11-07 18:29] #1549 closed

[2020-11-07 18:31] ThomasWaldmann commented on #1633
If you like, add a pointer to this issue to the docs, but do not duplicate all the stuff from top post to the docs.

As this might need per-algorithm discussion, that is better done here and not possible in the docs.

[2020-11-07 18:32] #5486 closed

[2020-11-08 13:09] laur89 opened #5491 "--stats output should include repo location"
## Have you checked borgbackup docs, FAQ, and open Github issues?

Y

## Is this a BUG / ISSUE report or a QUESTION?

Feature request

## System information. For client/server mode post info for both machines.

#### Your borg version (borg -V).

borg 1.1.14 (from apk community repos)

#### Operating system (distribution) and version.

alpine linux

#### Full borg commandline that lead to the probl

[2020-11-08 13:13] ThomasWaldmann commented on #5491
Would you like to make a PR for that against master branch?

[2020-11-09 12:24] auanasgheps opened #5494 "What is the data utilization for borg mount?"
## Have you checked borgbackup docs, FAQ, and open Github issues?

Yes

## Is this a BUG / ISSUE report or a QUESTION?

Question

## System information. For client/server mode post info for both machines.

#### Your borg version (borg -V):
1.1.14 and 1.1.13

#### Operating system (distribution) and version:
Debian 10 (client - backup source), Synology DSM (server - backup destination)

#### Hardwa

[2020-11-09 13:46] ThomasWaldmann commented on #5494
I think you should be fine with 20Mbit/s.

You can also do a partial extraction with `borg extract`, see the docs.

Similarly, you can do a partial mount with `borg mount`. Like:
- only 1 archive
- only a specific directory

borg mount keeps the filesystem structure in memory (the essential metadata), but fetches data on-access only.

[2020-11-09 14:29] auanasgheps commented on #5494
That's great, that's what I wanted to know (and I hoped). It's a very useful info, which I could not find in the docs.

I will also try the specific directory mount, since is the one I'm likely going to use.

[2020-11-09 18:05] auanasgheps commented on #5494
I've managed to test this scenario with a "small" test backup of 10GB and it is behaving as you described:
- Mount is quick (bunch of seconds) with minimal network transfer
- Files are being transferred only when copied or opened

I am shocked how easy and swift `borg mount` works.
@ThomasWaldmann it definitely needs to be advertised, why this is not on the homepage and in docs?

I will donate to

[2020-11-09 19:30] ThomasWaldmann commented on #5494
Notes:

How quick it is depends on the archive size and many other factors.

"Mountable backups with FUSE." is on the homepage.

Thanks for donations. Generic funds donations via bountysource will get put on tickets and whoever works on the tickets (== works on borg) will get the bounty.

[2020-11-10 05:16] Grunthos commented on #5461
I ended up patching helper.py to send daemon output to a file. Would there be any interest in a patch to do this via the command line?

[2020-11-10 05:22] Grunthos commented on #5284
OK...a lot more testing and something is very fishy.

1. I ```rsync```'ed a repo to another machine (let's call the copy S).
2. I stopped all other access to that repo, and stopped rsync
3. I enabled a background task to:
  - scan another repo (M) for archive names
  - scan repo S for archive names
  - pick a name in S but not in M (sorted by date)
  - '''borg mount``` the S archive
  - ```borg ba

[2020-11-10 09:26] laur89 commented on #5491
Not familiar with the codebase. I'll try to get around to it, but no promises.

[2020-11-10 10:02] ThomasWaldmann commented on #5284
Could be random corruption happening when accessing it at the original location, but not at the copied location.

Also, you are working with borg with 2 repo copies that have the same repo id and thus use the same clientside cache...

[2020-11-10 10:05] ThomasWaldmann commented on #5461
You should not need to patch anything in borg to write logs to a file, you just need to configure `logging` appropriately, see the docs.

[2020-11-10 10:24] laur89 opened #5495 "borg prune suddenly slow for one execution"
## Have you checked borgbackup docs, FAQ, and open Github issues?

Yes

## Is this a BUG / ISSUE report or a QUESTION?

Question

## System information. For client/server mode post info for both machines.

#### Your borg version (borg -V).

1.1.14

#### Operating system (distribution) and version.

Host is an unraid OS, borg running from a docker container running alpine linux.

#### Hardware / ne

[2020-11-10 10:52] ThomasWaldmann commented on #5495
Not sure that even is a "hiccup". It might be just doing more work, thus taking more time.

E.g. if prune decides to delete a yearly archive, the differences to all other archives might be rather big (the yearly archive might hold the last reference to a lot of chunks). When deleting that, it will poke a lot of logical holes into segment files and at the end `compact_segments()` might shuffle arou

[2020-11-10 10:54] laur89 commented on #5495
Was considering that, but never experienced this long of a prune.
Would it maybe make sense to separate different upload jobs into their own repositories as opposed to run all jobs against the same repo?

[2020-11-10 11:08] ThomasWaldmann commented on #5495
One vs. multiple repos has pros and cons, see the FAQ.

BTW, it does of course not need to be a yearly archive, it could just be any archive holding a lot of unique chunk references. So if you had a lot of unique data on the system at one day (that was not present the day before and neither the day after), removing that day's archive will also take its time...

[2020-11-10 13:21] laur89 commented on #5261
Could the `--bypass-lock` opt allow read-only operations, but bail if concurrent write options are attempted?

[2020-11-10 13:22] laur89 commented on #5495
Right, sounds like this is by design so all's good.
Thanks!

[2020-11-10 13:22] #5495 closed

[2020-11-10 13:26] sunknudsen opened #5497 "Running borg init via a borg serve --append-only server will not create an append-only repository."
## Have you checked borgbackup docs, FAQ, and open Github issues?

Yes

## Is this a BUG / ISSUE report or a QUESTION?

QUESTION

## Describe the problem you're observing.

What exactly does the following mean?

My understanding is that if the server is configured using the following `authorized_keys`, when initializing a repo using `borg init --encryption=keyfile-blake2 "borg@server:backup"`, `--

[2020-11-10 13:48] sunknudsen commented on #5497
In other words, I don't understand the use cases of `--append-only` when used in `authorized_keys`.

Do we have to run `borg config "backup" append_only 0` and `borg config "backup" append_only 1` on the sever to switch append only mode or can we use the `--append-only` flag in `authorized_keys` once repo has been initialized using `borg init --encryption=keyfile-blake2 "borg@server:backup"`?

[2020-11-10 13:54] sunknudsen commented on #5497
Also, what about `--storage-quota`?

[2020-11-10 14:51] laur89 opened #5498 "[scripting] run command while borg lock is acquired by borg itself"
## Have you checked borgbackup docs, FAQ, and open Github issues?

YES

## Is this a BUG / ISSUE report or a QUESTION?

QUESTION

## Describe the problem you're observing.

A backup script has to run some business logic just before running `borg create` (eg stopping docker containers).
Doing it simply prior to running `create` is dangerous, as another backup might be running, holding the lock poss

[2020-11-10 15:05] sunknudsen commented on #5497
According to my experiments, initializing a repo using `borg init --encryption=keyfile-blake2 "borg@server:backup"` on a server with the following `authorized_keys` will be initialized as append-only (running `borg delete "borg@server:backup"` returns `ValueError: /home/borg/backup is in append-only mode` unless `admin` key is used).

[code]

If the above is true, the following statement in the do

[2020-11-10 15:38] ThomasWaldmann commented on #5497
Check what's in the `repo/config` file after that, guess there is no `append_only = 1` and that is intended.

That way, you can have "append-only" for one ssh key and "not append-only" for another, e.g. if you want to run prune from a trusted client machine.

[2020-11-10 15:46] ThomasWaldmann commented on #5498
Well, guess the only way would be this:

[code]

backup.sh:
[code]

Not feeling too good with this though, consider --bypass-lock was only intended for rather special use cases and `borg create` is definitely not one of them. If somebody would directly call backup.sh, it could corrupt your repository.

So consider that unsupported usage, in case you decide to do that.

[2020-11-10 15:46] sunknudsen commented on #5497
Thanks for the follow up @ThomasWaldmann.

I am putting together a Borg episode for the privacy guides (see https://www.youtube.com/sunknudsen).

I take fact checking very seriously and I am having a hard time figuring out the docs. My experiments point to conflicting results.

I would love to pick your brain over a call to make sure I understand Borg correctly. Once I do, I would be happy to subm

[2020-11-10 15:46] ThomasWaldmann commented on #5498
Also, maybe try this first on a fresh, experimental repo, I never tried this...

[2020-11-10 15:47] ThomasWaldmann commented on #5498
A cleaner way would be to implement your own lock for the whole process, outside of borg.

[2020-11-10 15:50] sunknudsen commented on #5497
append_only = 0

[2020-11-10 15:52] ThomasWaldmann commented on #5261
No, it's a hack and not a enhanced locking system. That might come later, but don't hold your breath.

[2020-11-10 15:52] ThomasWaldmann commented on #5497
Yup, and that is what is meant in the docs.

[2020-11-10 15:55] sunknudsen commented on #5497
But using `command="borg serve --append-only --restrict-to-repository /home/borg/backup --storage-quota 10G",restrict ssh-rsa ...` does enable append only mode right, even if `append_only = 0` is set in the `repo/config`?

If so, the following statement is incoherent for the above use case.

[2020-11-10 15:56] laur89 commented on #5498
That's clever! Your notes on the safety are valid; wonder if we could detect from within `backup.sh` that it's being invoked by `borg with-lock`, that way dangers of direct execution could be avoided.

Wouldn't cover multiple hosts working against common remote repo, unless we implement our own distributed locking.

[2020-11-10 16:05] sunknudsen commented on #5497
Perhaps that line should be updated to something like the following.

[2020-11-10 16:20] ThomasWaldmann commented on #5498
As a general note: be careful with using `BORG_...` as env var name, rather consider these to be reserved by borg.

[2020-11-10 16:24] ThomasWaldmann commented on #5497
How about:

Running `borg init` via a `borg serve --append-only` server will **not** create a repository that is configured to be `append-only` by its repository config.

But, `--append-only` arguments in `authorized_keys` will **override** the repository config, therefore append-only mode can be enabled on a key by key basis.

[2020-11-10 16:30] ThomasWaldmann commented on #5497
Q: Do we have to run borg config "backup" append_only 0 and borg config "backup" append_only 1 on the sever to switch append only mode

A: You could do that, but using different ssh keys and different entries in authorized_keys is much easier and also maybe has less potential of thing going wrong somehow.

[2020-11-10 16:35] sunknudsen commented on #5497
@ThomasWaldmann I like it! This makes using `--append-only` so much more predictable.

Btw, thanks for Borg! Impressed by how thorough the project is.

[2020-11-10 16:42] ThomasWaldmann commented on #5497
Thanks, you're welcome!

Do you want to make a PR against master branch?

[2020-11-10 16:44] sunknudsen commented on #5497
Yes, on it!

[2020-11-10 17:22] sunknudsen commented on #5497
Just forked the repo and noticed the docs are generated using a framework I don't know so I would likely submit a shitty PR.

Best if you take care of updating the docs. I will focus on the video... that I can manage.

Btw, I developed a very light weight Swift macOS app that runs Borg in the background complying with Apple permissions so Borg can access restricted file paths (such as `~/Documents

[2020-11-10 17:29] sunknudsen commented on #5497
Forgot to mention the Borg python code would not be distributed with the app... it's really just a wrapper that runs commands in the background.

[code]

[2020-11-10 18:06] ThomasWaldmann opened #5499 "make a release that can get in before debian-next freeze"
https://release.debian.org/bullseye/freeze_policy.html

@LocutusOfBorg is 2020-12-24 early enough for you?

See the 1.1.15 milestone:

https://github.com/borgbackup/borg/milestone/72

[2020-11-11 00:11] laur89 commented on #5498
Would it be non-trivial to add support for locking `n` repos `with-lock` command?

[2020-11-11 04:24] Grunthos commented on #5461
Except of course ```borg mount``` detaches and write stdout/err to /dev/null. That was the whole basis of this thread...please correct me if I have missed a means of capturing the stdout from a crashed mount...

[2020-11-11 04:26] Grunthos commented on #5284
Sorry, you missed the point: the copy was not touched. I re-checked the ORIGINAL. Did not borg commands on the copy whatsoever...hence why I wrote "**I copied (via cp -a) the repository to aid in debugging. Did nothing else with it.**".

ie. as far as borg is converned I have only one copy with one id.

[2020-11-11 09:23] Gu1nness commented on #5417
@ThomasWaldmann Can you point me to the place where chunk_file is called ? I cannot find it in the source only in the builds :/
Then I can write the patch with the two lines, or the \r if possible

[2020-11-11 09:56] Gu1nness commented on #5116
I think that:
 * It is necessary to add the --list switch to _delete_
 * Update the documentation

This way we have a consistent way of listing files in all commands.
I can work on this one.

[2020-11-11 09:58] Gu1nness commented on #5480
@anarcat So you'd like to see https://borgbackup.readthedocs.io/en/latest/faq.html#how-can-i-protect-against-a-hacked-backup-client point to https://borgbackup.readthedocs.io/en/latest/deployment/pull-backup.html instead of #900 ?
If yes I'll do the change

[2020-11-11 09:59] Gu1nness commented on #5491
@laur89 If you have some difficulties, I can have a look at it and point you to the right places :)

[2020-11-11 13:54] ThomasWaldmann commented on #5461
What i meant is using `BORG_LOGGING_CONF`, point it to a file that configures logging to a file instead of the default stderr.

IIRC, that env var is documented and points to the `logging` module's configuration help, please check.

[2020-11-11 13:54] ThomasWaldmann commented on #5498
Each repo has 1 exclusive lock (for own/internal purposes).

[2020-11-11 13:58] ThomasWaldmann commented on #5284
OK, sounds like random corruption somewhere.

[2020-11-11 14:00] laur89 commented on #5498
Correct, but if `with-lock` supported grabbing locks of multiple repositories, then it'd make additional scripting simpler.

    borg --lock-wait XXXX with-lock "$repo1" "$repo2" "$repoN" cmd

[2020-11-11 14:04] ThomasWaldmann commented on #5480
There is also one strange item in that list:
[code]

If one wants to protect S from attackers on C, one **of course** does not do that.
But, to delete all archives on S, it is not **required** to have that (one can just use the borg client).

Not sure what to do about this one. Either add "Of course, ..." or remove it from the list?

[2020-11-11 14:06] ThomasWaldmann commented on #5480
Note: it already points to the right chapter via "See Hosting repositories for a detailed protection guide."

So maybe just continue that sentence with ", especially [point to pull backup subsection]"?

[2020-11-11 14:08] ThomasWaldmann commented on #5498
There is not one borg operation that deals with multiple repos. Sounds like "out of scope".

[2020-11-11 14:12] ThomasWaldmann commented on #5116
"update docs" likely means to just update `archiver.py` strings, the docs are auto-generated from that.

except the examples, they need to be edited in the respective rst files.

[2020-11-11 14:14] ThomasWaldmann commented on #5417
This change should be delayed until after PR #5492 (+ potential backport).

[2020-11-11 15:11] laur89 commented on #5498
Thanks. Sounds like this problem is better solved outside of borg then.

[2020-11-11 15:11] #5498 closed

[2020-11-11 15:23] Gu1nness commented on #5417
Sure, I'll wait then!

[2020-11-11 17:32] anarcat commented on #5480
pretty much yeah.

Yeah, that struck me as odd as well: i'm not sure why it's there for.

I think the pull-mode should be an explicit item in the list.

[2020-11-11 18:18] LocutusOfBorg commented on #5499
sure just ping me on irc please :D

[2020-11-12 05:10] Grunthos commented on #5284
Indeed, and since in the first instance deleting the cache fixed it, and in this most recent instance, it "just fixed itself" one in left with the strong suspicion that the cache code may be buggy (ie. the cache is the source of the corruption), since the underlying data verifies.

[2020-11-12 05:14] Grunthos commented on #5461
Well, a very quick review of logger.py suggests that BORG_LOGGING_CONF is about the logger, which AFAICT is for logging 'controlled' log messages, not capturing stdout/stderr. Speficifically it will log messages TO various destinations (including TO stderr).

My problem is with losing stdout/stderr because helper.py maps them to /dev/null. These are different issues.

[2020-11-12 10:39] ThomasWaldmann commented on #5461
borg uses the logger quite a lot.

[2020-11-13 00:57] ThomasWaldmann commented on #5467
Got a mail from travis today, in which they layed out their requirements for using travis for free with credits from FOSS pool.

One of them was that the project must not get sponsored by commercial companies.

I find it not appropriate to basically block FOSS projects from sponsorings, so we'll just move away from travis ci for borgbackup.

[2020-11-13 00:59] ThomasWaldmann commented on #5467
TODO:
- add github workflows for the other repos (already done here)
- remove travis permissions for borgbackup org
- remove `.travis` and `.travis.yml`

[2020-11-13 10:26] #5480 closed

[2020-11-13 10:32] Gu1nness opened #5502 "Build failing on forks"
When committing to a fork on a branch, the travis tests fail due to
[code]
which is pretty annoying.
Am I the only one who has this problem ?

[2020-11-13 11:20] laur89 opened #5504 "update docs on dev env setup"
Feel like the documentation needs some updating on preparing developing environment.
Could we confirm whether following is agreeable.

### 1
Following is said [here](https://borgbackup.readthedocs.io/en/stable/development.html#building-a-development-environment):

It's unclear what `before` is referring to, as it's not on the same page. Would it be reasonable to link `described before` to https://

[2020-11-13 14:12] ThomasWaldmann commented on #5504
1 yes, the borg install instructions are meant. of course a link would be an improvement.

2 master and 1.1-maint might differ, please check. `pip install -e .[fuse]` or `pip install borgbackup[fuse]`

3 there is a PR about docker and if multiple docker users would review that and agree on something simple, it could be merged.

i don't use docker, so i won't merge anything complicated that might n

[2020-11-13 14:15] ThomasWaldmann commented on #5502
Never seen that yet.

But at least for the borgbackup organization, the idea was to go away from travis anyway, see #5467 .

[2020-11-13 19:34] Gu1nness commented on #5499
Working hard to have the release ready :)

[2020-11-13 20:04] greenmoss commented on #5303
I think I have a better

Confirmed the cron whole-disk-access solution works. That is actually much simpler and easier. @ThomasWaldmann OK to just paste that link above into the docs somewhere for Mac OS users?

FWIW, the wrapper script does **not** work!

[2020-11-13 20:12] ThomasWaldmann commented on #5303
https://osxdaily.com/2020/04/27/fix-cron-permissions-macos-full-disk-access/

that one? if so, few short phrases (what is needed) plus link (how to do that) as @cd2357 posted it.

[2020-11-15 01:48] greenmoss commented on #5303
I opened #5508; does it look ok?

[2020-11-15 13:07] #5303 closed

[2020-11-15 16:21] greenmoss commented on #5303
Note: also #5509 for maint-1.1 branch

[2020-11-16 21:06] rblenis commented on #3775
How about this. Use fuse to iteratively mount each of the unencrypted backups, then back them up to a new repo with encryption.  This should be interrupt safe, as you can just restart the backup if interrupted and not worry about corrupting the original repo.  Then once it's all done, delete the original repo.

[2020-11-17 00:14] ThomasWaldmann commented on #3687
just had an idea to solve this with an size-obfuscating meta-compressor, please review #5510.

[2020-11-17 17:15] #5301 closed

[2020-11-18 18:32] ygoe opened #5513 "Show repository size in bytes or fixed unit"
## Have you checked borgbackup docs, FAQ, and open Github issues?

Yes

## Is this a BUG / ISSUE report or a QUESTION?

Question

## System information. For client/server mode post info for both machines.

#### Your borg version (borg -V).

1.1.11, ready to upgrade if necessary

#### Operating system (distribution) and version.

Ubuntu 18.04, 20.04

#### Hardware / network configuration, and files

[2020-11-19 09:29] ThomasWaldmann commented on #5513
IIRC:
- there is no option to switch to a fixed unit
- json would help, unit is "bytes" there
- some commands have a `--format` option to format their (often list-like) output

[2020-11-19 09:32] ThomasWaldmann commented on #5513
if you use multiple repos, they have multiple repo directories, so you actually can just use `du` on them.

[2020-11-19 09:55] ThomasWaldmann opened #5514 "investigate locking system"
borg operations always use an exclusive lock on the repository.

this goes back to a change when a deadlock issue related to lock-upgrade (from shared to exclusive lock) was resolved by just always doing exclusive locks.

always-exclusive locks can be a problem if one has long-running (or frequent) backup jobs (or in general: repo-writing operations) and in parallel one wants to do other borg oper

[2020-11-19 16:00] alfredonodo commented on #5387
Hi,
I created again two repositories with the same parameters except for encryption:
[code]

[code]

Now I have again the same problem as before for both the repository.

After pruning
[code]

[code]

After pruning

[code]

[code]

Do I have to repair both repository again?
`borg 1.1.14`

[2020-11-19 16:45] zeroone82 opened #5515 "Data integrity error on prune"
## Have you checked borgbackup docs, FAQ, and open Github issues?

Yes

## Is this a BUG / ISSUE report or a QUESTION?

Issue

## System information. For client/server mode post info for both machines.

#### Your borg version (borg -V).

borg 1.1.10

#### Operating system (distribution) and version.

Debian 8.11, Debian 6.0.10

#### Hardware / network configuration, and filesystems used.

Remote S

[2020-11-19 16:53] ThomasWaldmann commented on #5515
1.1.10 is too old and has known bugs, you need at least 1.1.11 and preferably the latest stable release (1.1.14 currently).

Release < 1.1.11 had a severe bug in the hashtable code and the error you see could be caused by a corrupt repo index due to that bug. See the advisory at the top of the changelog about how to proceed.

For debian (ubuntu), check the backports repo (maintainer ppa) to get a

[2020-11-19 17:02] ThomasWaldmann commented on #5515
The hashtable bug was also fixed by debian maintainers by patching their borg 1.1.9 package, see there:

https://metadata.ftp-master.debian.org/changelogs//main/b/borgbackup/borgbackup_1.1.9-2~bpo9+2_changelog

[2020-11-19 17:09] ThomasWaldmann commented on #5387
Side note:

Do not use lzma,9 - it makes no sense (does not compress better) and just consumes a lot of cpu.

The maximum for lzma is lzma,6 due to the size of the borg chunks (usual target size is ~2MiB).

[2020-11-19 17:14] ThomasWaldmann commented on #5387
Another side note:

`--keep-daily=1` as only prune "keep" option is a bit unusual.

usually people keep more than 1 archive (esp. considering that does not cost a lot of space due to deduplication). also, usually also the other `--keep-X` (X=weekly, montly, yearly) are used to not only have the latest stuff.

But, theoretically, this of course should not cause any issue in the borg repo. You just

[2020-11-19 17:17] ThomasWaldmann commented on #5387
The easiest explanation for you disk usage issue would be that the borg repo is operated in `append-only` mode.

Check:
- `repo/config` file whether it has append_only = 1 (or so) in there
- if you run client/server via ssh, check if the ssh forced command on the borg serve side enforces append-only (usually configured in `.ssh/authorized_keys`)

[2020-11-19 17:19] ThomasWaldmann commented on #5387
Another explanation could be the `borg prune` command not running up to its normal end, but getting interrupted somehow before it internally calls `compact_segments()`.

[2020-11-19 17:22] zeroone82 commented on #5515
I should've mentioned that I'm using the binaries provided from
https://github.com/borgbackup/borg/releases

I guess is time to upgrade to 1.1.11, newer releases don't seem to work with Debian 6 as it has libc6 2.11

[2020-11-19 20:19] ThomasWaldmann commented on #5189
@milkey-mouse claim bounty?

[2020-11-20 00:08] milkey-mouse commented on #5189
I knew I was forgetting one. Thanks for the reminder.

[2020-11-20 16:30] ygoe commented on #5513
Okay, JSON puts this on a separate line so it can be parsed, too. Can I rely on the JSON format, will it stay like this and not change to a single-line (non-formatted) output?

`du` is not supported on Hetzner Storage Boxes via SFTP, so I can't use that. SSH shell access is not available.

[2020-11-20 17:24] alfredonodo commented on #5387
Thank you for your suggestions. I do not mind about CPU, since each backup is executed two times a day. I mind about space, what is the [best compression option](https://manpages.debian.org/testing/borgbackup/borg-compression.1.en.html) in terms of space usage?
I usually specify --keep-daily=7 --keep-weekly=4 --keep-monthly=6, but since borg consumes all my space, I removed the multiple archives.

[2020-11-20 19:16] ThomasWaldmann commented on #5513
No, you can't really rely on that, sorry.

While there are no current plans to change that, I guess we can only guarantee that the json will be valid json, not that it will be formatted in a specific way forever.

[2020-11-20 19:21] ThomasWaldmann commented on #5387
What's the best compression for you potentially depends on your data, so you have to find out yourself.

In general, zstd is a very modern algorithm (much newer than lzma) and covers a wide range of compression levels.

But if you stay with lzma, go down to level 6, for borg it will compress as good as 9 and consume less time and power.

So, do I understand correctly, that the borg repo is local (

[2020-11-20 19:27] ygoe commented on #5513
Well, could I then suggest adding a general commandline option like `--bytes` to always show any size in bytes and not scale them down to smaller numbers?

[2020-11-20 21:10] alfredonodo commented on #5387
The repository is on remote server to which I can connect via ssh or via remote desktop. The repository is then synchronized to a common cloud.

[2020-11-21 01:33] ThomasWaldmann commented on #5387
if you run client/server via ssh, check if the ssh forced command on the borg serve side enforces append-only (usually configured in .ssh/authorized_keys).

did you check that?

[2020-11-21 01:39] ThomasWaldmann commented on #5513
well, other commands already have `--format` so somebody could check whether it can be implemented similar to what we have.

[2020-11-21 13:04] fallen commented on #5422
Anyone gave a try to the last idea I posted?

[2020-11-21 22:32] ThomasWaldmann commented on #5422
Not yet. Can somebody say something about compatiblity of this? linux, bsd, macOS, windows?

[2020-11-22 08:01] CouldBeThis opened #5517 "borg-macosx64 opens in text editor"
## Have you checked borgbackup docs, FAQ, and open Github issues?

yes

## Is this a BUG / ISSUE report or a QUESTION?

?issue?

## System information.
#### Operating system (distribution) and version.
mac os 10.1416

## Describe the problem you're observing.

I am unable to use the file https://github.com/borgbackup/borg/releases/download/1.1.14/borg-macosx64. it displays with a plain document (u

[2020-11-22 14:07] #5216 closed

[2020-11-22 14:17] ThomasWaldmann commented on #5517
It is a binary executable file, but after download you maybe need to set the executable bit:

[code]

[2020-11-22 17:48] ThomasWaldmann commented on #3687
any comments about the PR?

[2020-11-23 00:54] KizzyCode commented on #1044
What about considering a SIV scheme for future AE(AD) constructions? This would immediately resolve any risk of nonce reuse without the need to maintain any kind of nonce state etc.

Because the current situation is quite unsatisfying. While it is pretty easy to use only one device per repo, the advise

is simply not practical unless you use borg for absolute emergency recoveries only.

[2020-11-23 07:23] ncleaton commented on #3687
If an attacker could cause the same set of small files to be encoded repeatedly by messing with the repo between runs, then they could narrow down the actual compressed size by doing that a few times. A repeatable pseudorandom padding seeded with something the attacker doesn't know would resist that.

I suggest also processing each directory in a pseudorandom order when in obfuscate mode, if that

[2020-11-23 10:57] ThomasWaldmann commented on #1044
aes-gcm-siv looks pretty nice and quite fast and the spec reads like made for our use case - thanks for the pointer!

but that is rather new and not present in openssl (yet?).

[2020-11-23 11:14] puenka opened #5518 "Contradicting statements about use of hardlinks in documentation"
In the documentation (stable and master) under Usage/General/File Systems, it is stated that

However, in the borg-upgrade documentation it says that

which contradicts the above. From my experience when trying to use a WebDAV mount, using `borg upgrade` without `--inplace` fails due to the lack of hard linking capability.

Except for the mentioned issue of the repository not being recoverable in

[2020-11-23 12:22] Gu1nness commented on #5497
Okay I can take this one then? @sunknudsen

[2020-11-23 12:48] sunknudsen commented on #5497
Yes @Gu1nness, thanks!

[2020-11-23 15:02] Gu1nness commented on #5491
@laur89 Any news, do you need some help?

[2020-11-23 16:02] anarcat commented on #325
There's a LWN article about [changed-block tracking in QEMU](https://lwn.net/SubscriberLink/837053/9603eff5d2929cc4/) which should be interesting for this project. Basically, it uses the network block device (NBD) protocol to track changes on filesystems. I'm wondering if it would make sense for borg to be able to accept an NBD stream in some meaningful way.

Just brainstorming here, but it's the

[2020-11-23 16:35] KizzyCode commented on #1044
I'm no OpenSSL expert, but according to the [changelog](https://www.openssl.org/news/changelog.html) SIV was implemented (search for SIV). The API should be something like `EVP_aead_aes_128_gcm_siv` or `EVP_aead_aes_256_gcm_siv`.

On the age of SIV: There are multiple flavors of SIV. The oldest construction is the classic AES-SIV (which uses AES-CMAC as MAC) was [published 2007](https://web.cs.ucd

[2020-11-23 16:55] rugk commented on #1044
…does not sound very confident though and rather like "if you cannot use anything else, do this, but we do not recommend it"…

[2020-11-23 17:27] KizzyCode commented on #1044
SIV guarantees the following:

libsodium and it's documentation are designed for people who don't know much about encryption – and therefore this warning is absolutely necessary: even the simple knowledge of data repetition can be enough to break some poorly designed protocols.

However whether is a problem or not completely depends on the protocol/security model – in some cases it may even be des

[2020-11-24 12:51] ThomasWaldmann commented on #5518
Need to have a look at the code for this.

In general, you should only use `borg upgrade` if the docs / changelog tell you to do so.

[2020-11-24 14:48] ThomasWaldmann commented on #1044
@KizzyCode i can't find aes-gcm-siv in openssl, can you point me to the declaration or implementation via a URL?

[2020-11-24 14:56] ThomasWaldmann commented on #1044
@rugk i read the SIV RFCs and they make clear that using SIV with a rarely-repeating "nonce" is of course much better than using SIV with a fixed "nonce".

that sounds pretty perfect for what we need:
- with out current counter management, in case of "accidents", like "all trusted bookkeeping lost"
- with a potential future random based nonce, in case of a repeating nonce case (which might be unli

[2020-11-24 15:09] KizzyCode commented on #1044
@ThomasWaldmann
Oh, my bad… I read about SIV in the [OpenSSL's changelog](https://www.openssl.org/news/changelog.html) and did a quick search without noticing that all results were from BoringSSL… 🙈

There are traces of SIV in OpenSSL's documentation (e.g. [`EVP_CIPHER_CTX_set_padding`](https://www.openssl.org/docs/manmaster/man3/EVP_CIPHER_CTX_set_padding.html) mentions `EVP_CIPH_SIV_MODE`, but I

[2020-11-25 08:54] asadkhan34 opened #5521 "No key file for repository <REPO> found in ~/.config/borg/keys"
Hello ,

I just ran into a problem , whenever i am running the command borg list its giving me error which says No key file exists but key file already exists at the required path so why it is saying that No key file exist ?

Following are the steps to reproduce the problem .

1 ) I am using LXC containers and first time i ran borg init command to initialize borg repo using encryption mode = keyfi

[2020-11-25 11:03] infectormp commented on #5521
Your version is outdated, I strongly recommend you to update it and try to reproduce this error again.
When you post a problem, please put the command line you used.

[2020-11-25 11:31] asadkhan34 commented on #5521
@infectormp  Thanks for responding

Following commands which i ran

To initialize borg repo
borg init --encryption=keyfile /mnt/backups/dev-abbottberg/

To list backups ran following command
borg list /mnt/backups/dev-abbottberg/

command gives the following error
**No key file for repository /mnt/backups/dev-abbottberg found in /root/.config/borg/keys**

[2020-11-25 12:01] asadkhan34 commented on #5521
![image](https://user-images.githubusercontent.com/75013154/100225194-a43f7780-2f3f-11eb-8329-af2d99071a5e.png)

@infectormp  hey you can see i just updated the borg version its now 1.1.14 and still the same issue please see attached screen shot

[2020-11-25 12:31] ThomasWaldmann commented on #5521
Find out the id of that repo:
[code]

Check for the key:
[code]

[2020-11-25 13:37] asadkhan34 commented on #5521
![image](https://user-images.githubusercontent.com/75013154/100234520-0783d680-2f4d-11eb-8a33-10e4f7dc9ea4.png)
 Please find the attached image i ran both of the commands you mentioned , and i dont have others users than root on this container .

[2020-11-25 14:14] laur89 commented on #5491
@Gu1nness local dev env setup turned out to be trickier than expected. Hoping to revisit coming weekend.

[2020-11-25 14:29] ThomasWaldmann commented on #5521
look again at the cmds, had to fix them.

On 25 November 2020 14:37:58 CET, asadkhan34 <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-11-25 14:38] asadkhan34 commented on #5521
Sorry @ThomasWaldmann  i didn't get what you said .

What should I need to check again ?

[2020-11-25 15:23] Gu1nness commented on #5491
Ok nice, don't hesitate to ping me if necessary.

[2020-11-26 11:58] asadkhan34 commented on #5521
@ThomasWaldmann  brother waiting for your reply .

[2020-11-26 13:09] ThomasWaldmann commented on #5521
I sent a reply via email, but it seems that it did not make it up to here.

Just execute the commands again as you see them now in my post above.

[2020-11-26 13:14] ThomasWaldmann commented on #5521
About your post there: https://github.com/borgbackup/borg/issues/5521#issuecomment-733711203

Please do not post images, but copy & paste text, if possible.

Also, why does it say `cannot access`? You are root, you should be able to access.

It seems that you have some strange issue there, which is not a borg issue though.

I still need the `ls -l` for the keys directory.

[2020-11-26 14:09] asadkhan34 commented on #5521
it doest not have any issue with permissions , i ran wrong command just find the commands below i ran again
root@dev-abbottberg:/mnt/backups/dev-abbottberg# ls -l ~/.config/borg/keys
total 2

[2020-11-26 14:10] asadkhan34 commented on #5521
root@dev-abbottberg:~/.config/borg/keys# ls
mnt_backups_dev_abbottberg

here you can see the key exists there at path

[2020-11-26 14:21] ThomasWaldmann commented on #5521
Please show the first, second and last line from the output of:
[code]

[2020-11-26 14:22] ThomasWaldmann commented on #5521
Also you did not show yet correct ls -l output... (that would include owner/group/permissions).

[2020-11-26 15:47] asadkhan34 commented on #5521
cat ~/.config/borg/keys/mnt_backups_dev_abbottberg

first, second and last line from the output of above command

BORG_KEY ca98029680750a8980ec08eef2c1720976fe4af68466ac29b1fdd1afda64e3db
hqppdGVyYXRpb25zzgABhqCpYWxnb3JpdGhtpnNoYTI1Nqd2ZXJzaW9uAaRzYWx02gAgPN
4SEDb+w5c1xmlyKpAheUkmAuzYdE3kC8XhzwrjYRI+MJv3xZ3ng=

[2020-11-26 15:51] asadkhan34 commented on #5521
ls -l output
drwx------ 2 root root   3 Nov 25 08:09 .
drwx------ 4 root root   4 Nov 25 08:09 ..
-rwx------ 1 root root 553 Nov 25 08:09 mnt_backups_dev_abbottberg

[2020-11-26 15:59] ThomasWaldmann commented on #5521
The file format of the key looks correct, but the repo id there (see the value directly after BORG_KEY) does not match your repo id.

So, this is not the correct key / not the repo for that key.

[2020-11-26 15:59] #5521 closed

[2020-11-26 16:02] ThomasWaldmann commented on #5521
So, check if you have a key elsewhere, the repo id must match.

You can also have a look at `repo_dir/config`, if there is a key in there (but usually that one is found without an issue).

[2020-11-26 23:02] ThomasWaldmann commented on #3687
we use inode order for perf reasons, guess we should not go away from that.

i added another changeset with a reciprocal addtl. size function to make it less predictable without increasing repo size much.

@ncleaton can you have a look at the PR?

[2020-11-27 10:13] allgoewer commented on #5513
@ygoe If you don't mind additional dependencies, `jq` is a neat cli-json-parser.
You can use it like so
[code]

[2020-11-28 15:12] 2xsaiko commented on #5459
I have no problem using the latest commit (fc925878fc6b040d3e5c3997aa46649e0a145c8d) of borg with musl on Gentoo x86-64 so far fwiw. Release 1.1.14 and before crashes with [this error][1] when trying to run it for me, although that might be fixable on Gentoo's side.

[1]: https://paste.2x.ax/~saiko/f131415ad0704d184d53d91b0e8f82b9761a498e

[2020-11-28 15:37] sunknudsen opened #5522 "borg mount broken when using brew on macOS"
## Have you checked borgbackup docs, FAQ, and open Github issues?

Yes

## Is this a BUG / ISSUE report or a QUESTION?

BUG

## System information. For client/server mode post info for both machines.

#### Your borg version (borg -V).

borg 1.1.14

#### Operating system (distribution) and version.

macOS Catalina 10.15.7

#### Full borg commandline that lead to the problem (leave away excludes and

[2020-11-28 15:46] ThomasWaldmann commented on #5459
@2xsaiko we do not use libgomp, so not sure why there is an issue with that or whether that has anything to do with borg.

[2020-11-28 15:47] sunknudsen commented on #5522
Just installed osxfuse-3.10.4 vs osxfuse-3.11.2 and I'm getting the same issue... Puzzled... osxfuse-3.10.4 works fine on Borg 1.1.14 on another computer.

[2020-11-28 15:49] ThomasWaldmann commented on #5522
You need to have `llfuse` installed also. Maybe there is a change in brew relating to that, they have some issue with fuse there - talk to them in case you use borg from brew.

[2020-11-28 15:51] sunknudsen commented on #5522
Thanks @ThomasWaldmann. Investigating...

[2020-11-28 16:19] sunknudsen commented on #5522
@ThomasWaldmann I believe I found the issue... do you believe the right decision has been made at the brew-level to remove `llfuse` resource?

See https://github.com/Homebrew/homebrew-core/commit/89785cf123181d177c59e8a7421796d4290db1b3#diff-4a25217474a5eb61d0776ab4cabc43b42689bc7b3efaaed400f799631dcec71f

My gut feeling is the Borg [macOS documentation](https://borgbackup.readthedocs.io/en/stable

[2020-11-28 16:25] sunknudsen commented on #5522
Btw, installing FUSE for macOS using `brew cask install osxfuse` is also broken.

[2020-11-28 16:27] ThomasWaldmann commented on #5522
Considering that macOS brew users work on a closed-sourced non-free operating system anyway, i can't really follow why they have an issue with FUSE for macOS and choose to cause issues for all users using functionality depending on that. But as I said, that is not a borg issue, but a brew policy issue.

[2020-11-28 18:29] fxcoudert commented on #5522
For the record: the Homebrew developers' point of view is that we try to depend only on things we can distribute ourselves, and the base system. We do not distribute osxfuse (since it is closed source), and therefore cannot enable configurations for other things that depend on it. In the past, we made an exception for it, which we have decided to remove.

[2020-11-28 18:31] fxcoudert commented on #5522
That said, the fact that something is not in homebrew-core does not prevent to distribute it through Homebrew: homebrew is extensible and anyone can provide their own tap, under their own control and their own rules: https://docs.brew.sh/How-to-Create-and-Maintain-a-Tap

[2020-11-28 18:52] sunknudsen commented on #5522
@fxcoudert Thanks for taking the time to share Homebrew's thought process with us. I understand why you guys removed FUSE from Homebrew... the question is how can we get `borg mount` working again. Any help would be much appreciated. I tried installing `llfuse` using `pip3 install --user llfuse` (having installed `pkg-config` first using `brew install pkg-config`) and same issue. I don't know much

[2020-11-28 19:32] fxcoudert commented on #5522
One way is to take the content of the formula before https://github.com/Homebrew/homebrew-core/commit/89785cf123181d177c59e8a7421796d4290db1b3 , meaning this: https://github.com/Homebrew/homebrew-core/blob/68158c398ff8076d7027c4525b78edcf31d1a664/Formula/borgbackup.rb

and host that in your own tap: https://docs.brew.sh/How-to-Create-and-Maintain-a-Tap

[2020-11-28 19:40] sunknudsen commented on #5522
@fxcoudert Have a moment to share how Homebrew installs `llfuse` from source and where the python library is located on macOS once installed?

The following lines are pretty abstracted... I would like to collaborate with Borg to update the documentation so users who wish to use `borg mount` on macOS can install dependencies manually.

https://github.com/Homebrew/homebrew-core/commit/89785cf123181d

[2020-11-28 19:44] fxcoudert commented on #5522
@sunknudsen run the installation with `brew install -v` and it will show you what is done. It's creating a virtualenv and simply installing the packages from source with pip

[2020-11-28 20:16] sunknudsen commented on #5522
Thanks @fxcoudert.

My (perhaps naive) understanding is that Homebrew installs Borg using a virtual environment... `llfuse` is therefore located in `/usr/local/Cellar/borgbackup/1.1.14_1/libexec/lib/python3.9/site-packages/llfuse.cpython-39-darwin.so`.

This makes installing the `llfuse` dependency after `brew install borgbackup` more complicated... at least to users who don't know Python... such

[2020-11-28 20:36] ThomasWaldmann commented on #5522
I don't want to get into caring for distribution/packaging issues.

Especially not for an OS and distribution I do not use and do not know too well.

[2020-11-29 08:41] alfredonodo commented on #5387
Hi,
on my authorized_keys there are just keys without any configuration parameters:
[code]
The backup is executed via a script with cron: `crontab -e` (root user)
[code]
It could be something related to a different user (manual logged user and cron root user) that creates the backup? I do not think so, I created again two repositories and I have just one backup.
[code]

[code]

[2020-11-29 10:21] sunknudsen commented on #5522
Hey @m3nu, what do you think we should do? I see Vorta [depends](https://github.com/Homebrew/homebrew-cask/blob/master/Casks/vorta.rb) on [borgbackup](https://formulae.brew.sh/formula/borgbackup).

@fxcoudert Are you guys planning on removing https://formulae.brew.sh/cask/osxfuse from Homebrew?

[2020-11-29 10:56] fxcoudert commented on #5522
@sunknudsen Casks allow non-open source software, so I don't think it would be removed

[2020-11-29 12:08] m3nu commented on #5522
Yes, Vorta depends on Borg, but the Borg formula doesn't depend on osxfuse. After getting some user feedback we made it an optional dependency.

[2020-11-29 12:31] sunknudsen commented on #5522
Thanks for the follow-up @m3nu. Have you published instructions on how to install the `llfuse` dependency after Borg has been installed using `brew install vorta`?

[2020-11-29 12:57] ThomasWaldmann commented on #5387
I've no idea about what that could be.

So, one approach to proceed would be that you create a script that reproduces the issue in the most simple way possible:
- preferably only using relative pathes
- preferably with a most simple borg invocation
- preferably with a local repo

This is so anybody can easily reproduce without much effort.

[2020-11-29 13:20] ThomasWaldmann commented on #5517
so, did that help?

[2020-11-29 13:22] ThomasWaldmann commented on #5515
guess this is solved. if not, please add more information below.

[2020-11-29 13:22] #5515 closed

[2020-11-29 13:44] m3nu commented on #5522
`llfuse` is already contained in Borg's formula. You shouldn't need that.

A note regarding `osxfuse` will be shown as caveat after installing `borgbackup` from Homebrew. This is the only way to show optional dependencies AFAIK.

[2020-11-29 13:48] sunknudsen commented on #5522
@m3nu

Unfortunately, it isn't anymore... see https://github.com/Homebrew/homebrew-core/commit/89785cf123181d177c59e8a7421796d4290db1b3.

Homebrew removed `llfuse` a few days ago from the recipe because FUSE for macOS is no longer open source.

Pleases see comments above.

[2020-11-29 13:50] m3nu commented on #5522
I see. Wasn't aware of this change.

[2020-11-29 13:52] sunknudsen commented on #5522
@m3nu I am considering maintaining a tap with previous recipe... no sure what is the best way forward.

[2020-11-29 17:01] #5236 closed

[2020-11-29 17:06] noplanman commented on #5459
@2xsaiko Would you mind sharing what you mean exactly? You're able to build borg from source with `musl`?

If you could share how, I'd hugely appreciate it, thanks 🙏

[2020-11-29 17:26] 2xsaiko commented on #5459
I didn't do anything special, just installed the app-backup/borgbackup-9999 ebuild (version 9999 ebuilds use the source from the latest git commit by default). I did have to put `export BORG_OPENSSL_PREFIX=/usr` into /etc/portage/env/app-backup/borgbackup-9999 since it needed that variable set when building. This is on a standard gentoo install using the musl profile and with the musl overlay enab

[2020-11-29 17:45] noplanman commented on #5459
Exactly. But if a virtual target with the required musl setup can be used as well, that would work. I'm just so lost with this that I really don't know what to be looking for 😕

If there were a docker image I could take that has all musl "stuff" set up, that would be perfect.

[2020-11-29 20:47] noplanman commented on #5459
I've tried with a bunch of docker images that I found but my know-how is just too limited. Hope somebody with more experience can find a way to build a binary that works with musl, like for OpenWRT-based routers.

[2020-11-29 20:57] CouldBeThis commented on #5517
Hi,

I did that and was able to run this fine. Thank you!

However clicking around in the docs I can't remember ever reading any of the information... it is plain from the [instructions](https://borgbackup.readthedocs.io/en/1.1-maint/installation.html#standalone-binary) that the way I was trying to open this would never have worked. _Obviously_ it would not be a dmg because cli apps are never dmgs

[2020-11-29 20:57] #5517 closed

[2020-11-30 15:46] Gu1nness commented on #5450
Posted on bugbounty for issues #5236 and #5301

[2020-11-30 15:46] Gu1nness commented on #5451
Fixed issue #5336 and PR #5505 on compression algorithms

[2020-11-30 23:50] Gu1nness commented on #5300
Working on this one on the documentation part.

[2020-12-01 00:04] ThomasWaldmann opened #5528 "kill config and permissions for travis-ci?"
considering that travis-ci is not needed any more (we have github actions now), remove the configuration for it?

affected repos: borg, borg-import, borgbackup.github.io

also: remove travis permissions to borgbackup repos / organization.

[2020-12-01 00:05] ThomasWaldmann commented on #5467
github actions done, thanks to @samuel-w! closing this to enable bounty claim.

rest is tracked in #5528 ...

[2020-12-01 00:05] #5467 closed

[2020-12-01 00:11] Gu1nness commented on #5528
I'll remove the travis configuration, but I'm not sure I can remove the travis permissions for borgbackup repos / organization

[2020-12-01 00:13] ThomasWaldmann commented on #5450
Solved via PRs: #5520 and #5512 .

[2020-12-01 00:13] #5450 closed

[2020-12-01 00:15] ThomasWaldmann commented on #5451
Solved by PRs: #5436 and #5505 .

[2020-12-01 00:15] #5451 closed

[2020-12-01 00:19] ThomasWaldmann commented on #5528
I wanted to collect some feedback first.

As both github and travis-ci are companies, we might run into similar issues with both, so keeping the travis config might be an idea.

OTOH, maintaining the travis config just for the case and running into out of credits issues regularly might be also too much pain.

[2020-12-01 00:21] Gu1nness commented on #5528
The only idea I could see to be sure to avoid this kind of problem would be to mirror it on a gitlab instance with gitlab runners.
I can provide it for borg if necessary, I have the processing power of my dedicated server.

[2020-12-01 00:29] ThomasWaldmann commented on #5528
Well, I also have servers, but I rather want to avoid the single server / single admin issues.

Maybe some day codeberg could be an alternative.

But you're right, we can fetch it from git history if needed.

[2020-12-01 15:19] sunknudsen commented on #5522
Hey @ThomasWaldmann and @m3nu, I created a [tap](https://github.com/sunknudsen/homebrew-tap) that includes a patched version of [borgbackup](https://formulae.brew.sh/formula/borgbackup) called [borgbackup-llfuse](https://github.com/sunknudsen/homebrew-tap/blob/master/Formula/borgbackup-llfuse.rb). It took me some time to figure out how Homebrew works, but the patched formula appears to be working

[2020-12-01 15:25] sunknudsen commented on #5522
If you guys are happy with the above workaround, I guess we can close this issue.

[2020-12-01 16:11] ThomasWaldmann commented on #5522
@sunknudsen great, thanks for addressing that!

Guess I could create a repo within the borgbackup org for the tap. Preferably **only** for borgbackup, not for wrappers or other additional software not maintained within the org.

It would of course still needing somebody who cares for it as I do not use macOS / brew myself (besides when doing release testing of borg).

[2020-12-01 16:18] ThomasWaldmann commented on #5522
Hmm, one idea:

in your tap, borg and llfuse is in the same formula now. could that also live in 2 formulas, with borg requiring the other one?

i could imagine there might be other users of llfuse suffering from the homebrew issues, so it could be interesting to get it separately even if not using borg. also, in future, we might want to have pyfuse3 (successor of llfuse) also.

[2020-12-01 16:27] sunknudsen commented on #5522
@ThomasWaldmann I believe `llfuse` has to be in the same formula in order to be linked properly in the context of the virtualenv.

[2020-12-01 16:32] sunknudsen commented on #5522
I would be happy to pitch in to create and maintain (perhaps with @m3nu) a borgbackup/homebrew-tap repo that would only includes the `borgbackup-llfuse` formula.

Full disclosure, I am not a Homebrew or Python expert so feedback is welcomed.

[2020-12-01 16:33] sunknudsen commented on #5522
I would be happy to pitch in to create and maintain (perhaps with @m3nu) a borgbackup/homebrew-tap repo that would only includes the borgbackup-llfuse formula.

Full disclosure, I am new to Homebrew and Python so feedback is welcomed.

[2020-12-01 16:44] ThomasWaldmann commented on #5522
https://github.com/borgbackup/homebrew-tap there it is!

@sunknudsen i also sent you an invite.

[2020-12-01 17:00] m3nu commented on #5522
Happy to also have an eye on this too and keep it working. With Apple's move to ARM we'll see more changes here.

The current tap is roughly what we had before plus a version check. Shouldn't break much, but will need docs updates eventually.

[2020-12-01 17:43] OneArb opened #5530 "After back up and read error fat32 partition becomes read only"
## Have you checked borgbackup docs, FAQ, and open Github issues?

Yes

## Is this a BUG / ISSUE report or a QUESTION?

QUESTION

## System information. For client/server mode post info for both machines.

#### Your borg version (borg -V).

borg 1.1.14

#### Operating system (distribution) and version.

Manjaro

#### Hardware / network configuration, and filesystems used.

#### How much data is ha

[2020-12-01 17:54] ThomasWaldmann commented on #5530
guess you never want to hide "E" (error), so it should be `--filter=AME`.

if a file system suddenly becomes read-only, it might be because of a hardware issue. if an error happens, the fs might "remount-ro" (see mount options, see defaults). you need to umount, fix the issue, re-mount then.

input/output error aka IOError usually point to an issue below borg, e.g. hardware, kernel, fs.

[2020-12-01 18:01] ThomasWaldmann commented on #5530
ehrm, is that commandline (and esp. the --filter value) automatically created by vorta?

[2020-12-01 18:43] ThomasWaldmann opened #5531 "write a test that reproduces the hashtable corruption issue"
seems like some dists would like to have that...

#4829

[2020-12-01 18:45] sunknudsen commented on #5522
@ThomasWaldmann The [tap](https://github.com/borgbackup/homebrew-tap) is ready. I just switched my personal Mac from `borgbackup` to `borgbackup-llfuse` and confirm things are working as expected.

[2020-12-01 18:45] OneArb commented on #5530
Yes, I don't think options can be modified from the GUI.

Got it, only the repository can get locked rather than the volume.

[2020-12-01 19:07] #5530 closed

[2020-12-02 02:12] milkey-mouse commented on #102
Amazon S3 is now [strongly consistent](https://aws.amazon.com/s3/consistency/), eliminating the most annoying part of a theoretical borg S3 backend.
Does this bounty still stand? If a working S3 borg backend were written, would it be merged?

[2020-12-02 02:37] ThomasWaldmann commented on #5442
- #5534
- #5533

[2020-12-02 03:48] jrdemasi commented on #102
My only suggestion would be that it works with any s3-compatible storage so
we aren't locked to AWS, but I'm still interested if anyone is wondering.
Borg is in every way superior to Restic, other than a lack of s3
compatibility. My two cents.

On Tue, Dec 1, 2020, 19:12 Milkey Mouse <notifications@github.com> wrote:

[2020-12-02 12:58] #5531 closed

[2020-12-02 15:12] ThomasWaldmann commented on #5528
https://github.com/organizations/borgbackup/settings/oauth_application_policy
access to private infos now denied there for travis / travis open-source

https://github.com/organizations/borgbackup/settings/installations
travis github app uninstalled from there

travis ci now says "could not find borgbackup organization".

so guess this is mostly done.

todo: update references to travis in docs -> "

[2020-12-02 16:14] ThomasWaldmann commented on #5522
Guess we need a docs update for 1.1-maint now (install borg on macOS).

I want to release 1.1.15 in december, so it would be cool to have that in before borg (and versioned docs) get released.

[2020-12-02 18:07] ThomasWaldmann opened #5535 "TZ issues within automated tests"
commet by @amikula from https://github.com/borgbackup/borg/pull/5332#issuecomment-708529283 :

One thing I don't like about the tests is that they're somewhat **dependent on the developer's time zone**, because command line timestamps are in UTC but prune interprets the timestamps in local time.

I've compensated for that by getting the current timezone and offsetting from UTC accordingly in the t

[2020-12-03 10:57] farshidtz commented on #4082
I did by passing `--umask 0022` to `borg create` which result into 755 directory permissions and 644 file permissions.

See https://borgbackup.readthedocs.io/en/stable/usage/notes.html?highlight=umask
I don't know why the umask flag is not documented in https://borgbackup.readthedocs.io/en/stable/usage/create.html

From `borg create --help`:
[code]

To know more about umask modes, see [this](https

[2020-12-03 13:05] Gu1nness commented on #5417
I have started working on this one, still WIP but close to an end

[2020-12-03 13:58] m3nu commented on #5522
Had some issues when trying the formula today. Will dig deeper tomorrow.

[2020-12-03 19:03] ThomasWaldmann commented on #4082
Global options are only documented once, not for every command.

[2020-12-03 19:10] #5528 closed

[2020-12-04 02:04] m3nu commented on #5522
Works as expected. How did you fix the PyPi issue "Given no hashes to check 151 links ..."?

I added some tests and linting here using GH actions: https://github.com/m3nu/homebrew-tap

[2020-12-04 09:24] sunknudsen commented on #5522
Hey @m3nu, the issue was caused by `llfuse` depending on `osxfuse` at build time.

[2020-12-04 15:31] DesertRider commented on #5522
Hi,

I found this thread while looking why I had this problem after updating borgbackup yesterday... great thread!

I tried to install borgbackup-fuse as instructed on the readme page of homebrew-tap page but it fails with the following:
[code]

So, first, am I at the right place to discuss the problem? Did I have to remove the previous installation of borgbackup first?

[2020-12-04 15:39] sunknudsen commented on #5522
Hey @DesertRider, we haven't renamed the formula yet... see https://github.com/borgbackup/homebrew-tap/pull/1. The PR is awaiting review. Please try running `brew install borgbackup/tap/borgbackup-llfuse` keeping in mind that the formula will be renamed to `brew install borgbackup/tap/borgbackup-fuse` shortly.

[2020-12-04 18:02] ThomasWaldmann commented on #4336
this was "fixed" recently by #5463.

[2020-12-04 18:58] sunknudsen commented on #5522
Hey @DesertRider, `brew install borgbackup/tap/borgbackup-fuse` is live.

[2020-12-04 22:39] ThomasWaldmann opened #5543 "archlinux box is broken"
virtualenv in the archlinux vagrant box is broken (master branch).

guess it has something to do with that line in the Vagrantfile:
[code]

This seems to do a partial upgrade and afterwards it doesn't work any more.

`virtualenv` is not on the base system - how do I get it without upgrading a ton of stuff and without introducing inconsistencies?

[2020-12-04 22:49] samuel-w commented on #5543
I think it can be replaced with
`pacman --sync --upgrade --noconfirm --refresh python-virtualenv python-pip`

[2020-12-04 22:54] ThomasWaldmann commented on #5543
arch64: error: only one operation may be used at a time

[2020-12-04 22:59] samuel-w commented on #5543
`pacman -Syu --noconfirm python-virtualenv python-pip`
This is the shorthand, before `pacman --sync --refresh` was running, which is equivalent to 'pacman -Sy', which is a bad thing apparently. https://bbs.archlinux.org/viewtopic.php?id=89328

[2020-12-04 23:00] samuel-w commented on #5543
If you want to avoid upgrades maybe `pacman -Su --noconfirm python-virtualenv python-pip`? I assume the vagrant VM is updated  every month.

[2020-12-04 23:03] ThomasWaldmann commented on #5543
pacman -Su --noconfirm python-virtualenv python-pip just gives a ton of 404...

[2020-12-04 23:03] samuel-w commented on #5543
Oh yeah, its because the mirrors delete old packages. Use `pacman -Syu --noconfirm python-virtualenv python-pip`.

[2020-12-04 23:04] samuel-w commented on #5543
Are the VMs persistent? If so, then upgrading on every run is fine.

[2020-12-04 23:05] ThomasWaldmann commented on #5543
No, i usually destroy the vm after testing.

[2020-12-04 23:07] samuel-w commented on #5543
I guess it will have to upgrade every time, or keep the VM persistent.

[2020-12-04 23:07] ThomasWaldmann commented on #5543
that pulls 400MB+ although i justed updated the vagrant box to the latest available one...

[2020-12-04 23:10] samuel-w commented on #5543
If you keep updating the vagrant box, it _might_ be fine to run  `pacman -S --noconfirm python-virtualenv python-pip`. It will break when the package mirrors update `python-virtualenv' or `python-pip`.

[2020-12-04 23:10] ThomasWaldmann commented on #5543
and installs kernel, firmware, builds dkms stuff.......................

but at least it seems to work now, thanks!

[2020-12-04 23:12] #5543 closed

[2020-12-04 23:12] samuel-w commented on #5543
Another solution would be to use the Arch Linux Archive, but it defeats the point of testing on rolling release. https://archive.archlinux.org/repos/

[2020-12-04 23:19] ThomasWaldmann opened #5545 "binary testing with llfuse/pyfuse3"
[code]

Guess the binary was built with llfuse and only includes that.

When setting the env var, it tries to use pyfuse3, but it does not include that.

This is why the fuse3 tests fail with that binary.

[2020-12-04 23:27] ThomasWaldmann opened #5546 "add fuse info to borg debug info"
at least: llfuse or pyfuse3 or none

also: llfuse/pyfuse3 version number

[2020-12-04 23:46] ThomasWaldmann opened #5547 "vagrant: archlinux box misses fuse kernel module"
[code]

[2020-12-04 23:52] samuel-w commented on #5547
Add `fuse2` to `pacman -Syu --noconfirm python-virtualenv python-pip`, making it `pacman -Syu --noconfirm python-virtualenv python-pip fuse2`

[2020-12-04 23:57] samuel-w commented on #5547
Although python-llfuse uses only fuse2 on Arch.

[2020-12-05 00:34] carlosbonilla commented on #5522
@sunknudsen this completely solved the mount issue. Thanks!

[2020-12-05 12:14] ThomasWaldmann opened #5548 "add timeout to gh actions jobs"
[code]

just to avoid it runs 6h if sth goes wrong (which happens randomly in gh actions).

[2020-12-05 17:55] #5548 closed

[2020-12-05 18:40] ThomasWaldmann commented on #5547
i added it to the pacman line to install fuse2/fuse3, plus a modprobe fuse directly after that.
does not work, doesn't find the fuse module.

if i reboot the vm, modprobe fuse works, but i can't do that for the vagrant test run.

[2020-12-05 18:46] ThomasWaldmann commented on #5547
it seems to have a fuse kernel module only for the new kernel (also installed by that pacman invocation), but not for the running kernel.

[2020-12-06 09:59] flibustenet commented on #102
There is a new project, Kopia (in Go like Restic) which is not as mature as Borg but with many same features + S3 backend

[2020-12-06 14:16] ThomasWaldmann opened #5551 "examples for --paths-from-stdin --paths-from-command --paths-separator"
we could add some useful examples for these, esp. combining it with the `find` tool:

- backup small (<1MiB) files first
- backup files from user joe first

[2020-12-06 14:37] ThomasWaldmann commented on #5417
@Gu1nness i've just changed the milestone for this, we first want to have that in master for a bit.

Later we can maybe backport to 1.1-maint.

[2020-12-06 14:53] #5497 closed

[2020-12-06 18:49] ThomasWaldmann opened #5554 "github actions (master) hang at "install borgbackup" step"
why?
[code]

[2020-12-06 18:50] ThomasWaldmann commented on #5554
there is no output visible on the web UI.

[2020-12-06 19:12] #5546 closed

[2020-12-06 21:30] ThomasWaldmann opened #5556 "vagrant tests duplicate"
master branch: pyXX-none and pyXX-fuse2 both run on e.g. the bionic64 / stretch64 / darwin64 vagrant boxes.

[2020-12-06 21:36] ThomasWaldmann opened #5557 "vagrant brew cask"
When installing `osxfuse`:

[code]

[2020-12-06 23:56] ThomasWaldmann commented on #4360
I just released 1.2.0b1 - please help testing and give feedback here.

[2020-12-07 01:04] noplanman commented on #4360
@ThomasWaldmann ARM builds are already available at https://borg.bauerj.eu/?show-unstable

[2020-12-07 01:18] samuel-w commented on #5557
Seems the solution is replacing
`        brew install homebrew/cask/osxfuse || brew upgrade homebrew/cask/osxfuse  # Required for Python llfuse module`
with
`        brew install --cask osxfuse || brew upgrade --cask osxfuse  # Required for Python llfuse module`

[2020-12-07 06:21] samuel-w commented on #5443
#5542 #5540 #5539

[2020-12-07 07:34] FelixSchwarz commented on #5535
Just wanted to mention that [freezegun](https://github.com/spulec/freezegun/) did work very well for me (in other projects) so +1 for that.

[2020-12-07 13:58] ThomasWaldmann commented on #5443
All done, thanks!

[2020-12-07 13:58] #5443 closed

[2020-12-07 14:23] ThomasWaldmann opened #5559 "research buzhash chunker efficiency"
the idea of the buzhash chunker is that it resyncs quickly to give the same chunk sequence only a few chunks after some insertion.

verify whether that is true / how frequently that is true / how quickly it resyncs.

[2020-12-07 21:51] lfam opened #5560 "Some tests fail with "Error: no such user: None""
## Have you checked borgbackup docs, FAQ, and open Github issues?

Yes

## Is this a BUG / ISSUE report or a QUESTION?

Issue

## System information. For client/server mode post info for both machines.

#### Your borg version (borg -V).

1.2.0b1

#### Operating system (distribution) and version.

GNU Guix 1.2.0. Python is version 3.8.2.

#### Hardware / network configuration, and filesystems used.

[2020-12-07 23:17] ThomasWaldmann commented on #5560
Well, first I thought "you do not have a root / uid 0 user".

But then it should complain about that, not about "None".

Will check the source...

[2020-12-07 23:22] ThomasWaldmann commented on #5560
[code]

So, it tries to lookup uid 0 (gid 0) and as your `/etc/passwd` does not have that, lookup returns `None`.

Not sure about standards, but isn't a UNIX-like system expected to have a uid 0 gid 0 user and group?

[2020-12-07 23:43] lfam commented on #5560
Oh, I didn't realize it was failing the check for a root user. We already have disabled some other tests that expect root to exist: `test_access_acl`, `test_default_acl`, and `test_non_ascii_acl`. I can disable these new tests as well.

It is certainly unusual to be missing a root user, but the ephemeral build container is [extremely minimal](https://guix.gnu.org/manual/en/html_node/Build-Environm

[2020-12-08 09:36] ThomasWaldmann commented on #5560
The problem is that the tests need to create some metadata for the pseudo files they save into the created archive, including username, groupname, userid, groupid. The default for the latter two is just 0. To create the respective names, it tries to look them up via /etc/passwd and /etc/group.

So, you could:
- add root / 0 entries to your passwd and group files
- patch the tests to use a non-defa

[2020-12-09 18:41] lfam commented on #5560
Thank you for explaining what's going on here.

It's really "Guix's" bug so, closing. If we come up with a solution that would be generically useful we'll submit it upstream.

[2020-12-09 18:41] #5560 closed

[2020-12-10 11:26] ThomasWaldmann commented on #102
@milkey-mouse that is hard to say in advance. i guess the code change would have to be somehow clean and not risking stability of the existing file/ssh-based backend. not sure whether that is possible.

[2020-12-10 18:40] ThomasWaldmann commented on #5417
@Gu1nness please open a PR as soon as you have something, to get early feedback.

[2020-12-10 18:52] ThomasWaldmann commented on #14
I'll try to solve this for the fixed-blocksize chunker...

[2020-12-11 11:17] andir commented on #4740
I have a similar case where I backup a server very frequently in append-only mode. As soon as I prune it on the target server the cache on the backup source explodes and causes out of disk space issues. The cache is also larger than the actual borg archive size. My current workaround is to not prune individual borg archives but to rotate them, wait N days, delete the old archive.

[2020-12-11 15:46] ThomasWaldmann commented on #4740
@andir see https://github.com/borgbackup/borg/issues/4740#issuecomment-526551592

[2020-12-11 17:16] Gu1nness commented on #5417
Sure, I'll do this.

[2020-12-11 18:11] #5116 closed

[2020-12-11 23:10] ThomasWaldmann opened #5562 "borg list <archive>: add json output"
noticed today:

don't we have --json support for this?

[code]

[2020-12-12 22:19] ThomasWaldmann commented on #3945
Just as an update, there was / is progress related to this in master branch:

1. recursion and processing was separated. #5492

instead of the builtin fs recursion, it is now also possible to feed filenames via stdin, so it is e.g. now possible to have `find` output going into `borg` and then borg backups exactly these fs files.

TODO: in a similar way, file object descriptions could be fed in a d

[2020-12-12 22:43] ThomasWaldmann commented on #3945
Unclear: if we do not have a seekable (fs) file, we can not use SEEK_HOLE/SEEK_DATA to skip holes / all-zero ranges.

So, what is a good way for:
- VM disks (if they are not raw disk files)
- data streams

[2020-12-12 23:15] ThomasWaldmann commented on #841
fixed by #5538.

[2020-12-12 23:15] #841 closed

[2020-12-13 05:53] davidbartonau commented on #4740
@andir that sounds painful.  You could tar the files and feed them into borg, and that might fix the problem.

In the end, I've reverted back to zbackup as the cache issue was unworkable.  Although that seems unmaintained recently, it's worked for me for 8+ years and I'd rather use something that works and hopefully a better solution comes along.

[2020-12-13 11:54] schuellerstefan opened #5564 "borg always rechunks new files after cache deletion"
## Have you checked borgbackup docs, FAQ, and open Github issues?

Yes

## Is this a BUG / ISSUE report or a QUESTION?

Bug

## System information. For client/server mode post info for both machines.

#### Your borg version (borg -V).

borg 1.1.14

#### Operating system (distribution) and version.

arch x64 latest

#### Hardware / network configuration, and filesystems used.

btrfs

## Describe th

[2020-12-13 12:35] ThomasWaldmann commented on #5564
see the faq.

On 13 December 2020 12:54:38 CET, schuellerstefan <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-12-13 12:59] ThomasWaldmann commented on #4740
Looks like it is too hard to find this in the docs, so here is a direct link.

https://borgbackup.readthedocs.io/en/stable/faq.html#the-borg-cache-eats-way-too-much-disk-space-what-can-i-do

Creating a directory to avoid unwanted caching is no way "unworkable", but very easy to do.

[2020-12-13 13:43] ThomasWaldmann opened #5565 "improve the fixed chunker for better sparse file support"
we have a fixed blocksize chunker since a while in master branch that is good for reading raw disk files (e.g. virtual machine disks). also, it is rather simple Cython code (not hard to change/maintain C code as the variable size buzhash chunker).

often, these disk files are sparse, so unused blocks are not stored on disk.

for sparse files, there is a `os.lseek(..., SEEK_HOLE/SEEK_DATA)` api to

[2020-12-13 13:51] ThomasWaldmann commented on #14
Looks like this bounty is too low / too big in scope.

To have a more incremental approach, I created a new issue / new bounty with a more narrow scope:

https://github.com/borgbackup/borg/issues/5565

So, guess that one will be solved soon and later we can continue with this bounty (after way more backing is added to this bounty).

[2020-12-13 13:53] ThomasWaldmann commented on #5565
Note: this is a sub-task, for more, see #14.

[2020-12-13 14:40] ThomasWaldmann commented on #949
I have the impression that SEEK_HOLE is generally **not** supported for **block devices**, only for files residing a supporting filesystem.

For block devices, sometimes another API is supported:
- nbd: BLOCK_STATUS, see e.g.: https://github.com/xapi-project/vhd-tool/blob/master/scripts/get_nbd_extents.py

[2020-12-13 17:19] schuellerstefan commented on #5564
Hi Thomas,

thanks for pointing that out. This is a over simplified example of my problem.
I've already read that but thought I wouldn't be affected.
In my scenarion it was rechunking several TBs over and over again.

The reason for that is that I put a big bunch of files into my backup folder by mv'ing them into it, thus causing them to get all the same ctime timestamp.

Is there a paritcular rea

[2020-12-13 17:36] ThomasWaldmann opened #5566 "chunker: sparsify if all-zero data was read"
related to #14:

once we have better sparse handling inside borg (communicating data vs. hole status between chunker, hashing, ...), it makes sense to add a sparsify functionality.

assume we read all-zero chunks from a file:

1. could be a hole (no space allocated on disk) [we can avoid this with upcoming change from #5561]
2. could be file space allocated, but never used (fallocate)
3. could be

[2020-12-13 17:39] ThomasWaldmann commented on #2562
related to #14

[2020-12-13 17:50] ThomasWaldmann commented on #949
related to #14

[2020-12-13 17:54] ThomasWaldmann commented on #5564
ctime instead of mtime: because it is more reliable (only under kernel control, no userspace code can change it in weird ways).

if you want to avoid the issue described in the faq, just do a `touch backupdata/somefile` before starting `borg create` - so somefile will have the most recent timestamp and not one of your huge files.

[2020-12-13 17:55] ThomasWaldmann commented on #5564
btw, borg uses a (theoretically) nanosecond resolution timestamp, so even a `mv` should not create a lot of identical timestamps.

[2020-12-13 18:27] ThomasWaldmann commented on #765
related to #14

[2020-12-13 18:59] ThomasWaldmann commented on #765
The infrastructure added in #934 was removed again in #2364. Trying to find out why...

[2020-12-13 19:04] ThomasWaldmann commented on #765
Can't find out why.

I guess we need this for sparse handling (and maybe also for other metadata later).

@enkore do you remember?

[2020-12-13 21:02] schuellerstefan commented on #5564
I just wrote that code snippet

[code]
and it prints:

[code]
So the timestamp (at least on btrfs) is quite unprecise. Which in my case caused a lot of rechunking what made me thought the cache was broken because it were so many files.

Thank you for clarification, Thomas

[2020-12-13 21:22] ThomasWaldmann commented on #5564
Interesting, would have expected more different timestamps.

But anyway, you know how to solve it now.

[2020-12-13 21:22] #5564 closed

[2020-12-15 01:56] gerroon commented on #4631
@simonmichael

How did ypu resolve this issue?

[2020-12-15 03:36] simonmichael commented on #4631
Sorry I don't remember, but I see some mention on the linked issue of a `.config/borg/security` file.

[2020-12-15 10:00] manfredlotz opened #5567 "borg repo filesystems"
Note: this question is about pcloud filesystem, but the answer applies to all filesystems in general.

This is borg 1.1.14 running on Fedora 33 Linux. I am trying to find out if it is possible to backup into a borg repository residing on a mounted pCloud drive.

It is important to note that pCloud doesn't support hardlinks.

When doing a `borg init` I get
[code]
Questions:

What is the impact of h

[2020-12-15 13:07] Sephtex opened #5568 "memory leak in borg export-tar with remote (ssh:) repo"
Archive size: 400-500G (20~30 archive dates, expected restore size of ~90% of the total archive size)

After restoring around 60-70G, RAM usage was going up exponentially (very fast: few minutes?), going from 100-200mb to a few gigs (10-16G) till killed by OOM while the system became unstable as also other things where killed by OOM (when no RAM or SWAP was free anymore).

When RAM went up, it see

[2020-12-15 13:10] infectormp commented on #5568
See also https://github.com/borgbackup/borg/issues/4852

[2020-12-15 13:22] ThomasWaldmann commented on #5568
The issue title says `borg extract`, but the text says `borg export-tar` - these are 2 different functions, so please fix whatever is wrong.

Also, if you can reproduce the issue, can you also try with 1.1.14 and 1.1.15-rc?

[2020-12-15 13:31] ThomasWaldmann commented on #5567
I don't know pcloud, but the most important requirement for a fs for a borg repo is mainly stability / reliability.

We try to optimize some stuff (for security or performance) using hardlinks, but usually you can also work without.

In the docs we have some more words about the requirements, but in general, it is not much.

Of course, if your fs would not behave like a normal filesystem, had bugs

[2020-12-15 13:34] Sephtex commented on #5568
@ThomasWaldmann Fixed the title.

If I recall correctly, I tested with the latest version that was available 2 months ago when I was testing this. If I'm correct it was 1.1.14, 1.1.15-rc isn't yet available on my system. (I didn't mentioned it since I wasn't sure about it, only that I tried a more recent version that was available at that time.)

[2020-12-15 13:54] manfredlotz commented on #5567
Thanks for your quick reply.

I did more testing and it seems things working fine. So, if hardlinks are not really important then I am not so much concerned.

[2020-12-15 14:04] ThomasWaldmann commented on #5568
OK, this looks interesting. Especially the difference between:
- borg repo access via ssh (and the tar stream over local pipe)
- borg repo access locally (and the tar stream over ssh pipe)

That somehow points to an issue in the `RemoteRepository` code or to how it is used - maybe preloading gone wrong (again)?

[2020-12-15 14:57] ThomasWaldmann commented on #5568
Somehow this behaves like the issue fixed in borg 1.1.12.

So @Sephtex are you pretty sure you had this with borg > 1.1.12 ?

[2020-12-15 15:00] ThomasWaldmann commented on #5568
Also, the command lines you gave are complete?

It is important to know whether you tar-exported the whole archive or only parts of the archive.

[2020-12-15 15:15] ThomasWaldmann commented on #5568
If you can still reproduce, could you please:
- first reproduce the issue (watch growing memory needs)
- apply patch from #5569, then try to reproduce again, using the same borg command

[2020-12-15 19:20] Gu1nness commented on #5491
Okay @laur89 I'll patch it if you don't mind.

[2020-12-16 08:44] Sephtex commented on #5568
Yes, I'll test this again today with the latest version of borg available on gentoo: 1.1.14

Yes, I only changed the variable names as some where filled in with jinja2 through ansible

The biggest part of the archive is extracted, it has incremental backups of multiple weeks. But most of the data didn't changed, so I suspect that 90% or more should be copied, which it does when I use borg over ssh

[2020-12-16 11:33] Sephtex commented on #5568
So when testing with 1.1.14, with command:
[code]
No issue, the archive went over 80G
Will also test the same with a tarpipe.

[code]
Around 59G extracted, RAM usage went over 4G, but the transfer is still ongoing:
* I see the data-remote-extract getting bigger
* RAM usage grows almost with the same speed at some moments

Extra info about size of the original data:
[code]
[code]
[code]

[2020-12-16 20:23] Gu1nness commented on #5522
@sunknudsen In order to patch the documentation, what are the ways of installing borgbackup on MacOS?
In particular, are there multiple taps? Other ways?

[2020-12-16 21:42] #5491 closed

[2020-12-16 21:54] ThomasWaldmann commented on #5568
My question about whether you extracted the archive completely related to inclusion / exclusion / strip usage (when used, these usually do not extract completely and the code internally has to work differently).

[2020-12-16 21:55] ThomasWaldmann commented on #5568
[code]
You modified 2 parameters here, local vs ssh repo and file vs. stdout.

[2020-12-17 02:55] someone-somenet-org commented on #5387
Just came across this too on almost all of my repos. This happens even with new repos created this month.
It seems like ``borg prune --umask 0077 --list --stats --save-space --keep-last 1 -d14 -w16 -m48 . `` keeps some dangling files.

Backups of /root and /etc seem to get the most cruft data while /var dont.
Unfortunately I did not manage to reproduce this. But the compaction effect of ``borg che

[2020-12-17 03:13] someone-somenet-org commented on #5387
Some more testing on another machine... It seems these 17 byte "empty" files are removed by ``borg check --repair .``, but are left over when only using ``borg prune`` or ``borg delete``.

`` # du -scm etc``
[code]
``# borg info etc``
[code]
``# find etc -type f -size 17c | wc``
[code]
``# borg check --verbose --repair etc``
``# du -scm etc``
[code]
``# find etc -type f -size 17c | wc``
[code]

[2020-12-17 03:24] someone-somenet-org commented on #5387
Is there a way to re-create a repository?
as in:
+ copy over only all data that is actually used.
+ make sure these are correct and in the current on-disk-format.
+ make it look like there never was anything in this repository that was deleted.
  + reset counters (those on index.XXX; hints.XXX)

[2020-12-17 09:29] Sephtex commented on #5568
@ThomasWaldmann ,

I extract an archive completely, but I killed it after a point where the extraction starts to use an extensive amount of RAM.

Yes I am/was testing the multiple cases to check and prove that 1 doesn't have the same issue as the other.

Yesterday I was still testing with the ssh build inside of borg, and with 1.1.14 I noticed that I seem to get a stacktrace at the point where 1.1

[2020-12-17 18:04] ThomasWaldmann commented on #5568
MemoryError just means it ran out of available memory.

[2020-12-17 21:37] ThomasWaldmann commented on #5568
@Sephtex I am quite confident I have found the fix to the memory leak you discovered.

Can you try the code from PR #5569 - esp. the change in the last commit?

[2020-12-17 22:10] ThomasWaldmann commented on #5568
@LocutusOfBorg @FelixSchwarz ^^^ maybe interesting for patching stable packages.

Fixes will be also in borg 1.1.15.

[2020-12-18 00:40] vincenzogianfelice opened #5573 "Clarification on the (--one-file-system) option and FILES SPECIALS with regulars files in repo"
Hi. I ran into a backup of the whole system with borg and couldn't help but notice a little headache. Since some _folders_ in UNIX are dynamically generated on each boot (like `sys`, `proc`, `dev`, ...) if I use the **--one-file-system** option, rightly so, it doesn't copy them.
But (which happened to me) the presence of these folders is essential for the correct system startup. In fact, i happene

[2020-12-18 08:18] Sephtex commented on #5568
Cool, thanks @ThomasWaldmann ! I'll try the patch, and report back when I got it tested!

[2020-12-18 10:00] Sephtex commented on #5568
@ThomasWaldmann , I can confirm that the 3rd commit from #5569 fixed the issue!

Only give or take 50% of RAM is in use by the process now, and the file where an exponential RAM usage was seen in the past without the file even coming through is resolved. The file comes through now!

[2020-12-18 10:08] ThomasWaldmann commented on #5573
[code]

And borg 1.0.9 is outdated and unsupported, you should use 1.1.latest (e.g. download some binary from github releases if your distribution does not offer it, check glibc in borg's readme).

[2020-12-18 10:11] #5568 closed

[2020-12-18 13:46] sunknudsen commented on #5522
Hey @Gu1nness, thanks so much for updating the docs.

If you don’t have a Mac, the following episode of the [privacy guides](https://www.youtube.com/sunknudsen) shows the process.

This is the part that can likely help with the docs.

https://sunknudsen.com/privacy-guides/how-to-configure-borg-client-on-macos-using-command-line#step-7-install-fuse-for-macos-borg-and-borg-wrapper

In a nutshell, if

[2020-12-18 15:37] #5494 closed

[2020-12-18 19:06] ThomasWaldmann opened #5575 "pytest deprecation warning about yield_fixture"
pytest 6.2.1:
[code]

This should be fixed globally.

[2020-12-18 19:06] ThomasWaldmann commented on #5575
I've seen this in master branch, but guess it also applies to 1.1-maint.

[2020-12-19 03:00] vincenzogianfelice commented on #5573
Yes, I'll be upgrading soon.

As for the "solution" ... I didn't quite understand what you did ... you mounted **/** in a new folder ... and what changes compared to using **/**?

[2020-12-19 21:57] vincenzogianfelice commented on #5573
Sì, aggiornerò presto.

Per quanto riguarda la "soluzione" ... I solved the classic way, that is (once the backup has been restored) manually create the various directories. It would be nice though if there was an option to at least copy the "root" directories (with the --one-file-system option).

Thanks anyway.

[2020-12-19 22:45] ThomasWaldmann commented on #5573
You can not access the directories where another filesystem is mounted, because there is the other fs mounted there, hiding the underlying directory.

With the bind-mount method I showed, only the underlying fs is mounted to another places and thus makes these directories accessible. Often they are empty, but in case of `/dev` there is usually a set of basic files in there.

[2020-12-19 22:59] ThomasWaldmann commented on #5518
Where exactly is the contradiction? Did you see the **Unless**?

[2020-12-19 23:15] ThomasWaldmann commented on #5442
done.

[2020-12-19 23:15] #5442 closed

[2020-12-19 23:15] ThomasWaldmann commented on #5444
- #5578
- ...

[2020-12-20 00:26] ThomasWaldmann opened #5579 "travis-ci usage in 1.1-maint"
seems like there are some leftovers, remove them.

[2020-12-20 09:41] puenka commented on #5518
First just from a linguistical level:
The first statement says that hardlinks are needed **if** the inplace option is specified.
The second statement says that hardlinks are needed **except if** (i.e. unless) the inplace option is specified (thus any operation mode needs hardlinks?).

Also interpreting the content, it makes sense to me that the explanation of how hardlinks are being used in the se

[2020-12-21 10:48] Gu1nness commented on #5522
Perfect, exactly what I needed to know.
I'll update the docs accordingly :)

[2020-12-22 01:29] ThomasWaldmann commented on #5518
Ah, right, so first needs to be rephrased to:

"Hardlinks are needed for borg upgrade (if --inplace is not given)."

[2020-12-22 08:02] puenka commented on #5518
Yes, that's what I thought (but I don't have the code insight to actually argue about it)!
However I do think that I once had an error with a non-hardlinking file system already at init or at create, but that needs further investigation because this might not have been the exact reason why it failed...but that's just anecdotal anyways and doesn't really bother me at the moment.

[2020-12-22 16:40] ThomasWaldmann commented on #5579
fixed by #5581.

[2020-12-22 16:40] #5579 closed

[2020-12-22 19:45] ThomasWaldmann commented on #5573
guess this is solved.

[2020-12-22 19:45] #5573 closed

[2020-12-22 20:01] ThomasWaldmann commented on #5562
From source:
[code]

Doesn't mean that it could not be implemented...

[2020-12-22 20:26] ThomasWaldmann commented on #5502
as we removed travis-ci, guess we can close this?

[2020-12-22 20:40] ThomasWaldmann commented on #5431
https://github.com/python-llfuse/python-llfuse/commit/6810c8f91e745ae76858f94236a51fdb84c506a5 related maybe?

[2020-12-22 20:44] ThomasWaldmann commented on #5431
https://docs.python.org/3/library/os.html#os.replace

note: borg has no exception handling there, because under normal circumstances, this does not fail.

[2020-12-22 21:29] ThomasWaldmann commented on #5092
I just noted that the bigger problem related to this is that other xattrs and bsdflags got skipped by the bad exception handling.

[2020-12-22 22:33] ThomasWaldmann commented on #5092
@Peitemoukiemena @ambis can you check the patch in #5583, like:

- reproduce the issue without patch
- try patched code in same circumstances

[2020-12-24 01:25] ThomasWaldmann opened #5585 "test / use pyinstaller 4.1"
for master branch / vagrant / building borg binaries:

https://github.com/pyinstaller/pyinstaller/blob/develop/doc/CHANGES.rst#41-2020-11-18

consider using py38 or 39 (now it is supported) for better speed / memory management.

[2020-12-24 01:29] ThomasWaldmann commented on #5092
now merged into 1.1-maint branch and tagged for forward porting to master.

[2020-12-24 01:45] ThomasWaldmann commented on #5452
- #5586
- #5580

[2020-12-24 01:47] ThomasWaldmann commented on #5452
done

[2020-12-24 01:47] #5452 closed

[2020-12-24 01:51] ThomasWaldmann commented on #5522
If this should get into 1.1.15, do it soon, please.

[2020-12-24 01:55] ThomasWaldmann commented on #5499
ok, guess we have all the code changes in 1.1-maint. so just some docs updating and the usual release work to do.

[2020-12-24 18:35] LiterallyJohnny opened #5588 "Borg backups entire /home directory even though I specified to backup /home/[username]."
## Have you checked borgbackup docs, FAQ, and open Github issues?

Yes.

## Is this a BUG / ISSUE report or a QUESTION?

Bug.

## System information. For client/server mode post info for both machines.

#### Your borg version (borg -V).

borg 1.1.14

#### Operating system (distribution) and version.

Arch Linux, rolling release.

#### Hardware / network configuration, and filesystems used.

Connec

[2020-12-24 18:41] ThomasWaldmann commented on #5588
Please simplify the borg command to the minimum you need to reproduce your issue.

[2020-12-24 18:54] dietmargoldbeck commented on #4360
Works fine for me on OpenBSD 6.8 amd64. I installed  1.2.0b1 with pip3.8 and run a backup of my OpenBSD test machine
and a small test restore.
Thanks a lot for borg.

[2020-12-24 18:55] LiterallyJohnny commented on #5588
It said to use the full command that lead to my problem. That's what I did.

On Thu, Dec 24, 2020, 12:41 PM TW <notifications@github.com> wrote:

[2020-12-24 19:01] ThomasWaldmann commented on #5588
Yup, it is useful to not give less than needed to reproduce, so the full command is kind of safe.

But it is also useful to determine the minimum command needed to reproduce, just to have less code running / a less special case.

[2020-12-24 20:25] ThomasWaldmann commented on #5588
Can't reproduce, it only backed up 1 file for me that was in the given directory.
[code]

[2020-12-24 20:26] ThomasWaldmann commented on #5588
[code]

[2020-12-24 20:33] ThomasWaldmann opened #5589 "remove travis references from docs"
s/travis ci/CI system/g

except if it is rather specific, then "github actions" / "github actions CI".

[2020-12-24 21:03] LiterallyJohnny commented on #5588
Hmm. I'm a bit confused as to what this means, but I might just be a little slow, lol.

[2020-12-24 22:06] ThomasWaldmann commented on #5588
See that:
[code]
So it just backed up the one file inside /home/foo, as expected - not all inside /home.

[2020-12-24 22:40] LiterallyJohnny commented on #5588
Hmm. I am so confused now. I believe I did the same thing, but it gives me the entire /home directory when I restore it.

[2020-12-24 22:53] ThomasWaldmann commented on #5588
If you back up `/home/user`, it will back up:
- the directory object `home`
- the directory object `user`
- everything inside directory `user` (except if you exclude it)

And if you extract that, it will extract:
- home
- user
- all inside user

[2020-12-24 23:03] LiterallyJohnny commented on #5588
How would I go about making it where it ignores `/home` and backup `/user`?

[2020-12-24 23:03] LiterallyJohnny commented on #5588
Dammit, didn't mean to close it.

[2020-12-24 23:07] ThomasWaldmann commented on #5588
[code]

or, just do it as you have it now and strip the directory levels at extract time.

[2020-12-25 01:23] LiterallyJohnny commented on #5588
Is there not like a flag or option I could use to do this? I would rather not strip the directory levels at extraction, and I'm trying to make a script for this.

[2020-12-25 03:52] m3nu commented on #4360
Also available on [BorgBase.com](https://www.borgbase.com) as "testing" version.

<img src="https://user-images.githubusercontent.com/3916435/103117860-52f1e780-46a7-11eb-9077-27825dbebf77.jpg" width="250" />

[2020-12-25 09:19] ThomasWaldmann commented on #5414
releasing 1.1.15 now, thus closing this issue.

[2020-12-25 09:19] #5414 closed

[2020-12-25 13:46] dietmargoldbeck commented on #4360
Tested a  backup of my photo archive and filled up the filesystem. Borg stopped with filesystem full error.
Client is 1.2.0b1 in ubuntu and server is 1.2.0b1 on debian. Both using https://github.com/borgbackup/borg/releases/download/1.2.0b1/borg-linux64

Now there is a 470GB of borg but borg list is **empty**.

I never filled up a filesystem with my production use of borg 1.1 and can't compare.
Ho

[2020-12-25 13:59] infectormp commented on #4360
@dietmargoldbeck borg say **OSError: [Errno 5] Input/output error**
https://borgbackup.readthedocs.io/en/stable/faq.html#i-get-an-integrityerror-or-similar-what-now

[2020-12-25 17:04] ThomasWaldmann commented on #4360
@dietmargoldbeck looks like there are 2 issues with your repo:
- as the backup did not finish, you likely only have a checkpoint archive, try `borg list --consider-checkpoints repo`.
- you have some lower-level issue (fs, blockdevice, hdd/ssd) triggering that IOError when it does the repository check. that is below borg, so try to find out what is causing that.

[2020-12-25 17:05] ThomasWaldmann commented on #5588
there is no strip at create time because it can be done like i posted.

[2020-12-25 17:25] ThomasWaldmann commented on #5499
@LocutusOfBorg @FelixSchwarz 1.1.15 is out.

[2020-12-25 17:25] #5499 closed

[2020-12-25 17:32] ThomasWaldmann commented on #5310
borg 1.2 can also read paths from stdin (e.g. like `find ... | borg ...`).

[2020-12-25 17:33] ThomasWaldmann commented on #5260
done.

[2020-12-25 17:33] #5260 closed

[2020-12-25 17:53] ThomasWaldmann commented on #4972
If an external tool can feed paths into borg based on their xattrs, this will be doable with borg 1.2.

[2020-12-25 18:05] nicolas17 commented on #4972
That would require scanning the filesystem and reading xattrs twice, once to generate the path list, and again by borg when making the backup (surely it reads the xattrs to back them up, right?).

[2020-12-25 18:13] kubedzero opened #5591 "1.1.15 xxh64 bundled-> xxHash library new dependency?"
I just tried using the new version 1.1.15 to print out the version `borg --version` and received an error `libxxhash.so.0: cannot open shared object file: No such file or directory`.

I see in the changelog https://borgbackup.readthedocs.io/en/stable/changes.html?highlight=libxxhash `enable using libxxhash instead of bundled xxh64 code` which seems to suggest a dependency change not mentioned in t

[2020-12-25 18:44] ThomasWaldmann commented on #5423
did you find out anything you could add here?

[2020-12-25 18:46] ThomasWaldmann commented on #5591
How did you install borg before running into this issue?

[2020-12-25 18:53] ThomasWaldmann commented on #5591
https://github.com/borgbackup/borg/blob/1.1.15/setup.py#L217 that is the place where it detects the libxxhash system location. if it finds it AND prefer_system_libxxhash is True (default), then it uses libxxhash, otherwise it should fall back to the bundled code.

[2020-12-25 18:54] ThomasWaldmann commented on #4972
Yeah, it would scan (some) xattrs twice then.

[2020-12-25 18:57] kubedzero commented on #5591
Got it, thanks! Looks to be that I compiled BorgBackup on a system that had xxHash installed and then ported the compiled package over to a system that did not have it installed, thus the issue.

Let me experiment a bit and I'll update this issue.

[2020-12-25 19:52] #5092 closed

[2020-12-25 19:59] FelixSchwarz commented on #5499
@ThomasWaldmann already on its way to testing (https://bodhi.fedoraproject.org/updates/FEDORA-2020-4906e07692). We use [release-monitoring.org](https://release-monitoring.org/project/10446/) so I usually get the notification before the announce mail is sent :-) However I appreciate your pings about important bugs.

[2020-12-25 20:04] ThomasWaldmann commented on #5444
done.

[2020-12-25 20:04] #5444 closed

[2020-12-25 20:08] ThomasWaldmann commented on #5445
- #5593
- ...

[2020-12-25 20:12] #5557 closed

[2020-12-25 20:30] #5556 closed

[2020-12-25 20:49] kubedzero commented on #5591
That explanation really helped, thanks so much! I [updated](https://github.com/kubedzero/unRAID-NerdPack/blob/master/source/SlackBuild/borgbackup/borgbackup.SlackBuild#L77) my SlackBuild to turn the `prefer_system_libxxhash` to `False`, recompiled, copied the package over to the `xxHash`-less OS, and confirmed it worked as expected.

[2020-12-25 20:49] #5591 closed

[2020-12-25 22:44] LocutusOfBorg commented on #5499
It's now in sid

[2020-12-25 23:31] #5518 closed

[2020-12-26 16:15] vincenzogianfelice opened #5596 "Clarifcation option --keep-daily"
Hi. Today I did some tests with the prune command, and tried to set the `--keep-daily` to **7**. Now, if I try to run the prune command every day, it also deletes my previous backups. The question is: if I have set that every **7** days (therefore every **7** backups) must delete the oldest backups, why if I launch the command it deletes the backups even if the **7** days have not passed?

Thanks

[2020-12-26 17:48] luminoso commented on #5324
Is there any progress on this?

[2020-12-27 14:03] ThomasWaldmann commented on #5596
Please read the docs about what borg prune does exactly. There is also a detailled example in docs/misc/...

If you still have questions after that, we need all the details, like timestamps of all archives, verbose/list output of prune, borg version etc.

[2020-12-27 14:03] #5596 closed

[2020-12-27 14:06] ThomasWaldmann commented on #5588
guess this is cleared. not a bug, just expectations vs. reality. :-)

[2020-12-27 14:06] #5588 closed

[2020-12-27 14:41] ThomasWaldmann commented on #5324
not AFAICS.

[2020-12-27 16:15] enkore commented on #5324
What needs to be done from my PoV to make this happen:

- Take a stern look at RemoteRepository and the server. There's a bunch of legacy hacks and workarounds in there. Try to figure out how to get rid of them for a "clean & stable" RPC protocol.
- Document all RPC calls in a black-box form (on the level of msgpack messages)
- Implement foobar:// invoking borg-driver-foobar

1.) is the hard part,

[2020-12-28 00:55] ThomasWaldmann opened #5599 "cythonize crashes on macOS with py39"
Found this issue on the macOS vagrant machine after upgrading python to 3.9.1:

https://github.com/cython/cython/issues/3262

[2020-12-28 01:01] ThomasWaldmann commented on #5599
[code]

[2020-12-28 12:34] fcartegnie commented on #3781
Since that won't be achieved without changing the whole repo, doesn't this feature belong to a more generic streamed export/import ?
That would just be and internal stream format, and filters could be implemented to pass zfs send/receive, tar stdin/stdout, dumpe2fs/restorefs.

[2020-12-28 19:20] #5599 closed

[2020-12-28 19:21] #5565 closed

[2020-12-29 17:00] Peitemoukiemena commented on #5092
Would I need to update Borg to the latest version to try patched code?

[2020-12-29 17:07] ThomasWaldmann commented on #5092
@Peitemoukiemena you need to use 1.1.15. if there are no packages from your favourite dist yet, you can either use the fat binary from github releases or install via pip or git (from source).

[2020-12-29 18:31] ThomasWaldmann commented on #5585
fixed by #5598.

[2020-12-29 18:31] #5585 closed

[2020-12-29 18:37] ThomasWaldmann commented on #5417
@Gu1nness are you still working on this?

[2020-12-29 18:46] ThomasWaldmann opened #5601 "better logging for borg check"
even with `--debug`, it did not show the current segment file name:

[code]

[2020-12-29 18:56] FabioPedretti opened #5602 "BORG_FILES_CACHE_SUFFIX: a couple of followups"
BORG_FILES_CACHE_SUFFIX (included in 1.1.15+ #5511 and 1.2.0b1+ #5433) is a much better way to deal with the multiple backup sets on the same repo than the old BORG_FILES_CACHE_TTL way. A couple suggestions as a followup:

1. please consider updating this section: https://borgbackup.readthedocs.io/en/stable/faq.html#always-chunking to use BORG_FILES_CACHE_SUFFIX rather than BORG_FILES_CACHE_TTL.
2

[2020-12-29 21:05] ThomasWaldmann commented on #5602
Well, both methods exist in parallel and do different things, so one can even combine both to reduce memory needs.

[2020-12-30 02:17] lfam commented on #4360
I tested the update in GNU Guix. Everything seems fine for us.

[2020-12-30 09:00] alfredonodo commented on #5387
Hi,
I made further tests and I think I found the culprit. The problems appears when I use borg together with mega.nz. So we can exclude a problem related to permissions, borg itself and cron task.
I think I can exclude a problem of mega.nz itself too, since in other machines I have the same script, but they use GUI official [cloud sync software](https://help.mega.nz/megasync/general.html).
This ma

[2020-12-30 09:40] unilynx opened #5603 "Specifying the same path twice breaks hardlink during extraction"
If you accidentally specify a path to be backed up twice and this path contain hardlinks, you cannot succesfully extract these files

Eg:
[code]

returns

[code]

and both the hardlink and the file it was pointing to will be gone

When I list the archive I can see the file and the hardlink are both there

[code]

So I assume I could probably still rescue the file somehow if i wanted, and that the

[2020-12-30 09:49] unilynx opened #5604 "Cannot backup a docker image through /proc/<pid>/root/"
I like to backup docker containers with their full filesystem as they appear to the container itself so I don't miss any changes made to the overlayfs filesystems if we incorrectly set up the volume mounts.

On linux, every docker container's filesystem can be accessed through `/proc/<pid>/root/`, and I can point rsync at this to create a full backup. This has the added advantage that I don't have

[2020-12-30 12:27] ThomasWaldmann commented on #5604
There seems to be a problem below borg.

`os.getcwd()` is just trying to get the current working directory and that is expected to work, but it fails for you.

[2020-12-30 12:44] ThomasWaldmann commented on #5603
I have to look into that. The hardlink handling inside borg is a bit complicated because it archives the first hardlink with content and further hardlinks are archived without content and refer back to the first one for the content.

[2020-12-30 13:20] robaato commented on #5604
I was curious as this is a great idea, so I checked. Definitely not borg's issue.

This fails too with ENOENT:
#include <stdio.h>
#include <unistd.h>
#include <errno.h>

int main() {
    char buffer[4096];
    char *c=getcwd(buffer,4096);
    if (!c)  printf("Error %d\n",errno);
    else  printf("%s\n",buffer);
    return 0;
}

[2020-12-30 13:35] unilynx commented on #5604
Same here, but `pwd` which I would expect to simply be a wrapper around getcwd properly reports /proc/PID/root ...
and running strace over your code doesn't show any system call returning -ENOENT.

It looks like glibc is doing this (yep, https://github.com/lattera/glibc/blob/master/sysdeps/posix/getcwd.c#L395 ) but `pwd` somehow compensates.

But I can imagine fixing os.getcwd() to do whatever pwd

[2020-12-30 13:53] robaato commented on #5604
Not exactly (https://github.com/coreutils/coreutils/blob/master/src/pwd.c):
[code]

This is because inode for .. is special here (matches .):
[code]

[2020-12-31 16:25] FabioPedretti commented on #4498
Here is an updated test result (as always note the test may not be 100% reliable since it was done on a VM) with **20000 small and all different files**. Some notes:

* all tested borg 1.1 versions perform mostly the same when on the same mode (default or nobsdflags), no noticeable improvement from 1.1.9 to 1.1.10 which included e886df4
* on 1.1 nobsdflags is faster than default
* all tested borg

[2020-12-31 21:42] ThomasWaldmann commented on #4498
This is the relevant code in 1.2 / master branch (I removed some parts to make it simpler):
[code]

Considering that we chose the safe way (less race conditions in the fs) using the fd for borg 1.2+, I do not see a safe way to not open the file.

Even it if is 0 bytes or unchanged/known, we need the fd to get the for-sure-correct st and also other metadata like xattrs etc. - we do not have that in

[2020-12-31 23:46] ThomasWaldmann commented on #5387
well, if you only see that on mega, but not locally, likely the mega filesystem you use has some flaws and does not (always) behave like a normal filesystem.

[2021-01-01 01:47] ThomasWaldmann commented on #5603
It gets a bit more interesting with a more verbose extract command:
[code]
Here, one sees:
- it does 2 extractions of tmp/borgtest (as expected, because stuff was also added twice to the archive and we extract the whole archive)
- the first extraction works as usual
- the second extraction fails because it will first kill the borgtest directory that is "in the way", including the hardlink master a

[2021-01-01 01:54] ThomasWaldmann commented on #5603
also, it is of course not helpful to archive the same stuff multiple times (just to cause problems with double extraction later), so borg could maybe just prevent that.

[2021-01-01 15:49] alfredonodo commented on #5387
In order to be 100% sure, I created again the same repositories. I will let you know and then, if confirmed, I would close the issue.

[2021-01-01 23:47] FabioPedretti commented on #4498
Could the open be avoided in that case just for the 1.1 branch?
Thanks.

[2021-01-02 09:28] Gu1nness commented on #5417
Yes, I just was offline for quite a few days.
Patch incoming soon

[2021-01-02 11:06] ju-kreber opened #5605 "Append-only mode in authorized_keys only keeps last transaction's files (hints, index, integrity)"
## Have you checked borgbackup docs, FAQ, and open Github issues?

Yes

## Is this a BUG / ISSUE report or a QUESTION?

Both? Maybe I'm doing something wrong, maybe there is a bug

## System information. For client/server mode post info for both machines.

#### Your borg version (borg -V).
Server: `borg 1.1.14`
Client: `borg 1.1.15`

#### Operating system (distribution) and version.
Server: Linux

[2021-01-02 14:33] unilynx commented on #5604
I've done some more testing - by adding a parameter to explicitly set the working directory I get usable archives out of borg.

With these changes to replace getcwd() with a --working-directory parameter if specified:  https://github.com/borgbackup/borg/compare/2851a840034507bf652aa880bb1443f7e8094ecf...unilynx:workingdirectory

I can do:

[code]

And I have an extractable archive. A bit comparabl

[2021-01-02 16:11] ThomasWaldmann commented on #5604
Not sure this should be worked around in borg. Isn't this rather a bug in docker (or in your usage of docker)?

[2021-01-02 16:17] ThomasWaldmann commented on #5604
OTOH, such an option could be useful to get rid of leading path segments, like replacing:
[code]

[2021-01-02 16:21] ThomasWaldmann commented on #5604
From `tar`, we could use the same option names maybe (check if `-C` is still available)?
[code]

[2021-01-02 16:22] ThomasWaldmann commented on #5604
Maybe some other people using borg with docker can comment here whether they also see this issue or how they have it working.

[2021-01-02 16:23] ThomasWaldmann commented on #5605
We have some docs about how to use append-only mode, please read them.

Keeping hints/index/integrity is not needed.

[2021-01-02 16:43] ThomasWaldmann commented on #4498
1.1 works very different than master/1.2:
- 1.1: mostly path based
- 1.2: mostly fd based, using path only if there is no fd-based api

but, 1.1 and 1.2 also share some common requirements, like having to get the metadata for the item from the filesystem.

but afaics, 1.1 is doing this path-based, not opening the file unless it really has to read/chunk it.

[2021-01-02 17:30] FabioPedretti commented on #4498
OK, thanks, I would like borg to be more competitive with many unchanged files (which often is the most common scenario) and it looks file syscalls are much more heavy on networks file systems. Do you think #3955 may still be of help here? See also #3039 hack which improved performance a lot. I can do more test if needed.

[2021-01-02 17:57] ThomasWaldmann commented on #4498
well, long term (1.2+) we'll always have the open() call, so if that is expensive on some filesystems even if not reading content, we can not do much about it. guess correctness and as little race conditions as possible are more important here.

once we have the fd (from `open()` call), we use it for all the metadata-getting operations even if the file contents did not change.
you could do a bench

[2021-01-02 18:10] ThomasWaldmann commented on #3955
well, long term (1.2+) we'll always have the open() call, so if that is expensive on some filesystems even if not reading content, we can not do much about it. guess correctness and as little race conditions as possible are more important here.

once we have the fd (from open() call), we use it for all the metadata-getting operations even if the file contents did not change.

todo master branch /

[2021-01-02 21:51] FelixSchwarz commented on #5575
Just wanted to note that this makes it harder to ship borgbackup in EPEL 7 as we have pytest 2.9.2 there. Not a big deal to create a patch for this issue but I hope we can keep using pytest 2.9 for some time.

[2021-01-02 22:14] ThomasWaldmann commented on #5603
I added a fix in #5606, but also found another issue...